mixin CollapseExampleDemo
  p&attributes(attributes)
    = '\n'
    a.btn.btn-phoenix-secondary.mt-2(data-bs-toggle='collapse', href='#collapseExample', role='button', aria-expanded='false', aria-controls='collapseExample') Link with href
    = '\n'
    button.btn.btn-phoenix-secondary.ms-sm-2.mt-2(type='button', data-bs-toggle='collapse', data-bs-target='#collapseExample', aria-expanded='false', aria-controls='collapseExample') Button with data-bs-target
    = '\n'
  #collapseExample.collapse
    .border.p-3.rounded Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.

mixin MultipleTargetsDescription
  p&attributes(attributes) A 
    code button 
    | or 
    code a 
    | can show and hide multiple elements by referencing them with a JQuery selecotro in its 
    code href 
    | or 
    code data-bs-target 
    | attribute.

mixin MultipleTargetsDemo
  p
    = '\n'
    a.btn.btn-phoenix-secondary.mt-2.me-2(data-bs-toggle='collapse', href='#multiCollapseExample1', role='button', aria-expanded='false', aria-controls='multiCollapseExample1') Toggle first element
    = '\n'
    button.btn.btn-phoenix-secondary.mt-2.me-2(type='button', data-bs-toggle='collapse', data-bs-target='#multiCollapseExample2', aria-expanded='false', aria-controls='multiCollapseExample2') Toggle second element
    = '\n'
    button.btn.btn-phoenix-secondary.mt-2(type='button', data-bs-toggle='collapse', data-bs-target='.multi-collapse', aria-expanded='false', aria-controls='multiCollapseExample1 multiCollapseExample2') Toggle both elements
  .row
    .col-sm-6
      #multiCollapseExample1.collapse.multi-collapse.mb-3.mb-sm-0
        .card.border
          .card-body Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    .col-sm-6
      #multiCollapseExample2.collapse.multi-collapse
        .card.border
          .card-body Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
