mixin TableOverview
  table.table
    thead
      tr
        th(scope='col') #
        th(scope='col') First
        th(scope='col') Last
        th(scope='col') Handle
    tbody
      tr
        th(scope='row') 1
        td Mark
        td Otto
        td @mdo
      tr
        th(scope='row') 2
        td Jacob
        td Thornton
        td @fat
      tr
        th(scope='row') 3
        td(colspan='2') Larry the Bird
        td @twitter

mixin TableVariants 
  table.table
    thead
      tr
        th(scope='col') Class
        th(scope='col') Heading
        th(scope='col') Heading
    tbody
      tr
        th(scope='row') Default
        td Cell
        td Cell
      tr.table-primary
        th(scope='row') Primary
        td Cell
        td Cell
      tr.table-secondary
        th(scope='row') Secondary
        td Cell
        td Cell
      tr.table-success
        th(scope='row') Success
        td Cell
        td Cell
      tr.table-danger
        th(scope='row') Danger
        td Cell
        td Cell
      tr.table-warning
        th(scope='row') Warning
        td Cell
        td Cell
      tr.table-info
        th(scope='row') Info
        td Cell
        td Cell
      tr.table-light
        th(scope='row') Light
        td Cell
        td Cell
      tr.table-dark
        th(scope='row') Dark
        td Cell
        td Cell

mixin Table
  table.table&attributes(attributes)
    thead
      tr
        th(scope='col') #
        th(scope='col') First
        th(scope='col') Last
        th(scope='col') Handle
    tbody
      tr
        th(scope='row') 1
        td Mark
        td Otto
        td @mdo
      tr
        th(scope='row') 2
        td Jacob
        td Thornton
        td @fat
      tr
        th(scope='row') 3
        td(colspan='2') Larry the Bird
        td @twitter

mixin TableActive 
  table.table
    thead
      tr
        th(scope='col') #
        th(scope='col') First
        th(scope='col') Last
        th(scope='col') Handle
    tbody
      tr.table-active
      tr
      tr
        th(scope='row') 3
        td.table-active(colspan='2') Larry the Bird
        td @twitter





