mixin ColorExample 
  each color, index in colors 
    p(class=`text-${color}${color === 'light' ? ' bg-dark' : ''}`)
      | text-#{color}


mixin ColorOpacity 
  h3 How it works

  +ComponentCardLib
    .
      .text-primary {
        --bs-text-opacity: 1;
        color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
      }


mixin ColorOpacityExample 
  .text-primary.mb-1 This is default primary text
  .text-primary(style="--bs-text-opacity: .5;").mb-1 This is 50% opacity primary text using inline css
  .text-primary.text-opacity-75.mb-1 This is 75% opacity primary text using utility class
  .text-primary.text-opacity-50.mb-1 This is 50% opacity primary text using utility class
  .text-primary.text-opacity-25.mb-1 This is 25% opacity primary text using utility class
  
