mixin OverflowExample
  .d-flex
    .overflow-auto This is an example of using 
      code .overflow-auto 
      | on an element with set width and height dimensions. By design, this content will vertically scroll.
    .overflow-hidden This is an example of using 
      code .overflow-auto 
      | on an element with set width and height dimensions. By design, this content will vertically scroll.
    .overflow-visible This is an example of using 
      code .overflow-visible 
      | on an element with set width and height dimensions. By design, this content will vertically scroll.
    .overflow-scroll This is an example of using 
      code .overflow-scroll 
      | on an element with set width and height dimensions. By design, this content will vertically scroll.
