mixin ShadowsExamples
  .shadow-none.p-3.mb-5.bg-light.rounded No shadow
  .shadow-sm.p-3.mb-5.bg-body.rounded Small shadow
  .shadow.p-3.mb-5.bg-body.rounded Regular shadow
  .shadow-lg.p-3.mb-5.bg-body.rounded Larger shadow

