mixin VerticalAlignExampleDemo
  = '\n'
  span.align-baseline baseline
  = '\n'
  span.align-top top
  = '\n'
  span.align-middle middle
  = '\n'
  span.align-bottom bottom
  = '\n'
  span.align-text-top text-top
  = '\n'
  span.align-text-bottom text-bottom

mixin VerticalAlignExampleTable
  .table-responsive
    table.table.table-bordered(style='height: 100px;')
      tbody
        tr
          td.align-baseline baseline
          td.align-top top
          td.align-middle middle
          td.align-bottom bottom
          td.align-text-top text-top
          td.align-text-bottom text-bottom
