mixin VisibilityExampleDescription
  p.mt-2 Set the 
    code visibility 
    | of elements with our visibility utilities. These utility classes do not modify the display value at all and do not affect layout – .invisible elements still take up space in the page. Content will be hidden both visually and for assistive technology/screen reader users.

  p.mb-0 Apply 
    code .visible 
    | or 
    code .invisible 
    | as needed.

mixin VisibilityExampleDemo
  .visible
  .invisible
