extends layouts/LayoutTheme
include mixins/home/landing/HeroHeader
include mixins/home/landing/FindYourPassion
include mixins/home/landing/MillionsOfJobs
include mixins/home/landing/Category
include mixins/home/landing/Features
include mixins/home/landing/ComeOnJoin
include mixins/home/landing/Testimonial
include mixins/home/landing/Footer


append variables
  - var currentPage = 'index'

prepend scripts
  

append content
  +HeroHeader
  +FindYourPassion
  +MillionsOfJobs
  +Categories
  +Features
  +ComeOnJoin
  +Testimonials
  +Footer