mixin AboutUs
  +Section.pb-0#about 
    .row 
      .col-12.py-3
        +Background({image: `${CWD}assets/img/gallery/about-us.png`, attrs: { style: { 'background-position': 'top center', 'background-size': 'contain',} }, className: 'bg-size' })
        h1.text-center ABOUT US

  section.py-5   
    +Background({image: `${CWD}assets/img/gallery/about-bg.png`, attrs: { style: { 'background-position': 'top center', 'background-size': 'contain',} }, className: 'bg-size' })
    .container
      .row.align-items-center
        .col-md-6.order-lg-1.mb-5.mb-lg-0
          img.fit-cover.rounded-circle.w-100(src=`${CWD}assets/img/gallery/health-care.png` alt='...')
        .col-md-6.text-center.text-md-start
          h2.fw-bold.mb-4 We are developing a healthcare 
            br.d-none.d-sm-block
            | system around you
          p We think that everyone should have easy access to excellent 
            br.d-none.d-sm-block
            | healthcare. Our aim is to make the procedure as simple as 
            br.d-none.d-sm-block
            | possible for our patients and to offer treatment no matter
            br.d-none.d-sm-block
            |where they are — in person or at their convenience. 
          .py-3
            button.btn.btn-lg.btn-outline-primary.rounded-pill(type='submit') Learn more 
              