mixin DashboardDropdown(id, reveal) 
  .font-sans-serif.btn-reveal-trigger
    button.btn.btn-link.fs--2.text-600.btn-sm.dropdown-toggle.dropdown-caret-none.transition-none&attributes(attributes)(type='button' class=`btn-reveal${reveal ? '-' + reveal : ''}` id=id data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent")
      span.fas.fa-ellipsis-h.fs--2
    .dropdown-menu.dropdown-menu-end.border.py-2(aria-labelledby=id )
      a(href='#!').dropdown-item View
      a(href='#!').dropdown-item Export
      .dropdown-divider
      a(href='#!').dropdown-item.text-danger Remove


