@use 'sass:string';

/*-----------------------------------------------
|   Button Reveal
-----------------------------------------------*/
.btn-reveal-trigger {
  @include hover-focus {
    .btn-reveal {
      // box-shadow: $btn-reveal-hover-shadow;
      background: $gray-soft;
      border: 1px solid $gray-200;
      &:hover,
      &:focus,
      &:active {
        color: var(--#{$variable-prefix}btn-reveal-color) !important;
      }
    }

    .btn-reveal-sm {
      box-shadow: var(--falcon-box-shadow-sm);
    }
  }
  // .btn-reveal {
  //   &:active:focus,
  //   &:active,
  //   &:focus {
  //     box-shadow: none;
  //     color: var(--#{$variable-prefix}btn-reveal-color) !important;
  //     background-color: var(--#{$variable-prefix}btn-reveal-bg);
  //     border-color: var(--#{$variable-prefix}btn-reveal-border-color);
  //   }
  // }
  .dropdown-toggle {
    &:after,
    &:before {
      display: none;
    }
  }
}

//
// Base styles
//

.btn {
  display: inline-block;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: $body-color;
  text-align: center;
  text-decoration: if($link-decoration == none, null, none);
  white-space: $btn-white-space;
  vertical-align: middle;
  cursor: if($enable-button-pointers, pointer, null);
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid transparent;
  @include button-size(
    $btn-padding-y,
    $btn-padding-x,
    $btn-font-size,
    $btn-border-radius
  );
  @include transition($btn-transition);
  box-shadow: none;

  &:hover {
    color: $body-color;
    text-decoration: if($link-hover-decoration == underline, none, null);
  }

  .btn-check:focus + &,
  &:focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  .btn-check:checked + &,
  .btn-check:active + &,
  &:active,
  &.active {
    @include box-shadow($btn-active-box-shadow);

    &:focus {
      @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {
    pointer-events: none;
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }
}

// scss-docs-start btn-variant-loops
@each $color, $value in $button-colors {
  $hover-background: map-get($theme-hover-colors, $color);
  .btn-#{$color} {
    @include button-variant(
      $background: $value,
      $border: transparent,
      $hover-background: $hover-background
    );
  }
}

// outline buttons
@each $color, $value in $button-colors {
  $hover-color: map-get($theme-hover-colors, $color);
  .btn-outline-#{$color} {
    @include button-outline-variant(
      $color: $value,
      $active-border: $hover-color
    );
  }
}

//soft buttons
@each $color, $value in $button-colors {
  $text-color: map-get($theme-colors-dark, $color);
  $background: map-get($theme-colors-soft, $color);
  $hover-background: map-get($theme-colors-light, $color);
  .btn-soft-#{$color} {
    @include button-variant(
      $background: $background,
      $border: $background,
      $color: $text-color,
      $hover-background: $hover-background,
      $hover-color: $text-color
    );
  }
}

//phoenix buttons
@each $color, $value in $button-colors {
  $hover-color: map-get($theme-hover-colors, $color);
  .btn-phoenix-#{$color} {
    @include button-variant(
      $background: $gray-soft,
      $border: $gray-200,
      $hover-background: $gray-200,
      $color: $value,
      $hover-color: $hover-color
    );
  }
}

// scss-docs-end btn-variant-loops

//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  font-weight: $font-weight-bold;
  color: $btn-link-color;
  text-decoration: $link-decoration;

  &:hover {
    color: $btn-link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus {
    text-decoration: $link-hover-decoration;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
  }

  // No need for an active state here
}

//
// Button Sizes
//

.btn-lg {
  @include button-size(
    $btn-padding-y-lg,
    $btn-padding-x-lg,
    $btn-font-size-lg,
    $btn-border-radius-lg
  );
}

.btn-sm {
  @include button-size(
    $btn-padding-y-sm,
    $btn-padding-x-sm,
    $btn-font-size-sm,
    $btn-border-radius-sm
  );
}
