.form-label {
  padding-left: $input-padding-x;
  line-height: $line-height-base;
  text-transform: uppercase;
  .form-check & {
    padding-left: 0 !important;
  }
}
.form-control {
  &.form-control-underlined {
    border: none;
    border-bottom: 1px solid;
    border-color: $input-border-color;
    border-radius: 0;
    padding: $input-padding-y 0 !important;
    box-shadow: none;
    &:focus {
      border-color: $primary !important;
    }
  }
}

// Floating Labels
// .form-floating > label {
//   line-height: 1.625rem;
//   color: $gray-500;
//   &.form-control {
//     box-shadow: none;
//   }
// }

// Floating Labels
.form-floating {
  > label {
    line-height: 1.625rem;
    color: $gray-500;
    // padding: 0;
  }
  .form-control {
    box-shadow: none;
  }
  .form-control-underlined {
    + label {
      padding: 0;
    }
  }
}

.form-check-label {
  font-weight: $font-weight-semi-bold;
  font-size: map-get($font-sizes, '-1');
}

.form-check-light {
  .form-check-input {
    &:checked {
      background-color: $form-check-light-input-checked-bg-color;
      border-color: $form-check-light-input-checked-border-color;

      &[type='checkbox'] {
        @if $enable-gradients {
          background-image: escape-svg($form-check-light-input-checked-bg-image),
            var(--#{$variable-prefix}gradient);
        } @else {
          background-image: escape-svg(
            $form-check-light-input-checked-bg-image
          );
        }
      }
    }
  }
}

.form-check-lg {
  padding-left: $form-check-padding-start-lg;

  .form-check-input {
    width: $form-check-input-width-lg;
    height: $form-check-input-width-lg;
    margin-left: $form-check-padding-start-lg * -1;
  }
}

.form-switch {
  .form-check-input {
    border: none;
    background-color: $gray-400;

    &:checked {
      background-color: $primary;
    }
  }
}

.form-switch-lg {
  padding-left: $form-switch-padding-start-lg;

  .form-check-input {
    width: $form-switch-width-lg;
    height: $form-check-input-width-lg;
    margin-left: $form-switch-padding-start-lg * -1;
  }
}

.form-icon-container {
  position: relative;
  .form-icon-input {
    padding-left: map-get($spacers, 6);
  }
  .form-icon {
    position: absolute;
    top: 12px;
    left: $input-padding-x;
  }
}

.form-check-input,
.form-select {
  appearance: none;
  -webkit-appearance: none;
}
