.page-item {
  margin: 0.125rem;
  &:first-child {
    .page-link {
      color: $primary;
    }
  }
  &:last-child {
    .page-link {
      color: $primary;
    }
  }
}

.page-link {
  font-size: map-get($font-sizes, '-2');
  font-weight: $font-weight-bold;
  border-radius: $border-radius;
}
