/*-----------------------------------------------
|   Search box
-----------------------------------------------*/
.search-box {
  position: relative;
  font-size: map-get($font-sizes, '-1');
  // width: 20rem;
  @include media-breakpoint-up(lg) {
    width: 20rem;
  }

  .search-box-icon {
    position: absolute;
    color: $gray-500;
    top: 50%;
    left: 1rem;
    transform: translateY(-48%);
  }
  .search-input {
    padding-left: 2.5rem;
    padding-right: 2rem;
    // line-height: ;
    border-radius: $border-radius;
    box-shadow: none;
    max-height: 2rem;

    &::-webkit-search-cancel-button {
      display: none;
    }
  }

  [data-bs-toggle='search']:not(.show) {
    + [data-bs-dismiss='search'] {
      display: none;
    }
  }

  .file-thumbnail {
    width: 1.75rem;
    height: 1.75rem;
  }
}

.safari {
  .search-box .search-input {
    line-height: 2;
  }
}
