.toast {
  padding: map-get($spacers, 2) map-get($spacers, 4);
  .toast-header {
    // padding-top: map-get($spacers, 4);
    // padding-bottom: map-get($spacers, 3);
    .btn-close {
      margin-right: 0;
    }
  }
  .toast-body {
    padding: $toast-padding-y 0;
  }
}
