mixin CtaTwo 
  section.py-0
    +Background({image: `${CWD}assets/img/gallery/cta-two-bg.png`, attrs: { style: { 'background-position': 'center', 'background-size': 'cover',} }, className: '' })
    .container 
      .row.flex-center
        .col-xxl-9.py-7.text-center
          h1.fw-bold.mb-4.text-white.fs-6 Are you ready to order 
            br
            |with the best deals?  
          a.btn.btn-danger(href='#')  PROCEED TO ORDER
            i.fas.fa-chevron-right.ms-2
            
        
