mixin HeroHeader
  section.py-5.overflow-hidden.bg-primary#home
    .container
      .row.flex-center
        .col-md-5.col-lg-6.order-0.order-md-1.mt-8.mt-md-0
          a(href='#!').img-landing-banner
            img.img-fluid(src=`${CWD}assets/img/gallery/hero-header.png`   alt='hero-header')
  
        .col-md-7.col-lg-6.py-8.text-md-start.text-center
          h1.display-1.fs-md-5.fs-lg-6.fs-xl-8.text-light Are you starving?
          h1.text-800.mb-5.fs-4 Within a few clicks, find meals that
            br.d-none.d-xxl-block
            |are accessible near you
          .card.w-xxl-75
            .card-body
              nav
                .nav.nav-tabs#nav-tab(role='tablist')
                  button.nav-link.active.mb-3#nav-home-tab(data-bs-toggle='tab' data-bs-target='#nav-home' type='button' role='tab' aria-controls='nav-home' aria-selected='true')
                    i.fas.fa-motorcycle.me-2
                    | Delivery
                  button.nav-link.mb-3#nav-profile-tab(data-bs-toggle='tab' data-bs-target='#nav-profile' type='button' role='tab' aria-controls='nav-profile' aria-selected='false')
                    i.fas.fa-shopping-bag.me-2
                    | Pickup
              .tab-content.mt-3#nav-tabContent
                .tab-pane.fade.show.active#nav-home(role='tabpanel' aria-labelledby='nav-home-tab')
                  form.row.gx-2.gy-2.align-items-center
                    .col
                      .input-group-icon
                        i.fas.fa-map-marker-alt.text-danger.input-box-icon
                        label.visually-hidden(for='inputDelivery') Address
                        input.form-control#inputDelivery.input-box.form-foodwagon-control(type='text' placeholder='Enter Your Address')
                    .d-grid.gap-3.col-sm-auto
                      button.btn.btn-danger(type='submit') Find Food
                .tab-pane.fade#nav-profile(role='tabpanel' aria-labelledby='nav-profile-tab') 
                  form.row.gx-4.gy-2.align-items-center
                    .col
                      .input-group-icon
                        i.fas.fa-map-marker-alt.text-danger.input-box-icon
                        label.visually-hidden(for='inputPickup') Address
                        input.form-control#inputPickup.input-box.form-foodwagon-control(type='text' placeholder='Enter Your Address')
                    .d-grid.gap-3.col-sm-auto
                      button.btn.btn-danger(type='submit') Find Food
                          

                            