extends ../../layouts/LayoutComponent
include ../../mixins/common/Avatar

append variables
  -
    var pageHeader = {
      title: 'Alert',
      description: 'Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages.',
      url: `https://getbootstrap.com/docs/${bootstrapVersion}/components/alerts/`,
      linkText: 'Alerts on Bootstrap',
    }
  
  -
    var rightNav = [
      {
        name: 'Alert Soft Examples',
        id: '#alert-soft-examples',
      },
      {
        name: 'Alert Outline Examples',
        id: '#alert-outline-examples',
      },
      {
        name: 'Phoenix Alert Examples',
        id: '#phoenix-alert-examples',
      },
      {
        name: 'Solid Alert Examples',
        id: '#solid-alert-examples',
      },
      {
        name: 'Alerts with icon',
        id: '#alerts-with-icon',
      },
      {
        name: 'Additional Content',
        id: '#additional-content',
      },
      {
        name: 'Dismissing',
        id: '#dismissing',
      },
    ]

block component

  +ComponentCard({title:'Alert Soft Examples'}).my-5
    .alert.alert-soft-primary(role='alert')
      | A simple primary alert—check it out!
    .alert.alert-soft-success(role='alert')
      | A simple primary alert—check it out!
    .alert.alert-soft-danger(role='alert')
      | A simple primary alert—check it out!
    .alert.alert-soft-warning(role='alert')
      | A simple primary alert—check it out!
    .alert.alert-soft-info(role='alert')
      | A simple primary alert—check it out!

  +ComponentCard({title:'Alert Outline Examples'}).my-5
    .alert.alert-outline-primary(role='alert')
      | A simple primary alert—check it out!
    .alert.alert-outline-success(role='alert')
      | A simple primary alert—check it out!
    .alert.alert-outline-danger(role='alert')
      | A simple primary alert—check it out!
    .alert.alert-outline-warning(role='alert')
      | A simple primary alert—check it out!
    .alert.alert-outline-info(role='alert')
      | A simple primary alert—check it out!

  +ComponentCard({title:'Phoenix Alert Examples'}).my-5
    .alert.alert-default-primary(role='alert')
      | A simple primary alert—check it out!
    .alert.alert-default-success(role='alert')
      | A simple primary alert—check it out!
    .alert.alert-default-danger(role='alert')
      | A simple primary alert—check it out!
    .alert.alert-default-warning(role='alert')
      | A simple primary alert—check it out!
    .alert.alert-default-info(role='alert')
      | A simple primary alert—check it out!

  +ComponentCard({title:'Solid Alert Examples'}).my-5
    .alert.alert-solid-primary(role='alert')
      | A simple primary alert—check it out!
    .alert.alert-solid-success(role='alert')
      | A simple primary alert—check it out!
    .alert.alert-solid-danger(role='alert')
      | A simple primary alert—check it out!
    .alert.alert-solid-warning(role='alert')
      | A simple primary alert—check it out!
    .alert.alert-solid-info(role='alert')
      | A simple primary alert—check it out!

  +ComponentCard({title:'Alerts with icon'}).my-5
    .alert.alert-soft-warning.d-flex.align-items-center(role='alert')
      = '\n'
      span.fas.fa-info-circle.text-warning.fs-3.me-3
      p.mb-0.flex-1 A simple primary alert—check it out!
      = '\n'
      button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
    .alert.alert-soft-success.d-flex.align-items-center(role='alert')
      = '\n'
      span.fas.fa-check-circle.text-success.fs-3.me-3
      p.mb-0.flex-1 A simple primary alert—check it out!
      = '\n'
      button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
    .alert.alert-outline-danger.d-flex.align-items-center(role='alert')
      = '\n'
      span.fas.fa-times-circle.text-danger.fs-3.me-3
      p.mb-0.flex-1 A simple danger alert—check it out!
      = '\n'
      button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')

  +ComponentCard({title:'Additional Content'}).my-5
    .alert.alert-soft-success(role='alert')
      h4.alert-heading.fw-semi-bold Well done!
      p Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.
      hr.bg-300
      p.mb-0 Whenever you need to, be sure to use margin utilities to keep things nice and tidy.

  +ComponentCard({title:'Dismissing'}).my-5
    .alert.alert-soft-warning.alert-dismissible.fade.show(role='alert')
      = '\n'
      strong Holy guacamole!
      |  You should check in on some of those fields below.
      = '\n'
      button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')