extends ../../layouts/LayoutComponent
include ../../mixins/components/Badge

append variables
  -
    var pageHeader = {
      title: 'Badges',
      description: 'Documentation and examples for badges, our small count and labeling component.',
      url: `https://getbootstrap.com/docs/${bootstrapVersion}/components/badge/`,
      linkText: 'Badges on Bootstrap',
    }
  -
    var rightNav = [
      {
        name: 'Examples',
        id: '#examples',
      },
      {
        name: 'Buttons',
        id: '#buttons',
      },
      {
        name: 'Positioned',
        id: '#positioned',
      },
      {
        name: 'Background Color',
        id: '#background-color',
      },
      {
        name: 'Pill Badges',
        id: '#pill-badges',
      },
      {
        name: 'Badge with icons',
        id: '#badge-with-icons',
      }
    ]

block component
  +ComponentCard({
    title:'Examples',
    anchor: true,
    description: 'Badges scale to match the size of the immediate parent element by using relative font sizing and em units. As of v5, badges no longer have focus or hover styles for links.'
  }).my-5
    +BadgeHeadingDemo

  +ComponentCard({
    title:'Buttons',
    anchor: true,
    description: 'Badges scale to match the size of the immediate parent element by using relative font sizing and em units. As of v5, badges no longer have focus or hover styles for links.'
  }).my-5
    +BadgeButtonsDemo

  +ComponentCard({
    title:'Positioned',
    anchor: true,
    description: 'Use utilities to modify a <code>.badge</code> and position it in the corner of a link or button.'
  }).my-5
    +BadgePositionedDemo

  +ComponentCard({
    title:'Background Color',
    anchor: true,
    description: 'Use our background utility classes to quickly change the appearance of a badge. Please note that when using Bootstrap’s default <code>.bg-light</code>, you’ll likely need a text color utility like <code>.text-dark</code> for proper styling. This is because background utilities do not set anything but <code>background-color</code>.'
  }).my-5
    +BadgeSolidDemo

  +ComponentCard({
    title:'Pill Badges',
    anchor: true,
    description: 'Use the <code>.rounded-pill</code> utility class to make badges more rounded with a larger <code>border-radius</code>.'
  }).my-5
    +BadgePillDemo

  +ComponentCard({
    title:'Badge with icons',
    anchor: true,
    description: 'Add different icons with badge'
  }).my-5
    +BadgeWithIconsDemo