extends ../../layouts/LayoutComponent
include ../../mixins/common/Avatar

append variables
  -
    var pageHeader = {
      title: 'Breadcrumb',
      description: 'Indicate the current page’s location within a navigational hierarchy that automatically adds separators via CSS.',
      url: `https://getbootstrap.com/docs/${bootstrapVersion}/components/breadcrumb/`,
      linkText: 'Breadcrumb on Bootstrap',
      breadcrumb:[
        {
          name:'Components',
          link:'#!'
        },
        {
          name:'Breadcrumb',
          active:true
        },
      ]
    }
  -
    var rightNav = [
      {
        name: 'Breadcrumb Example',
        id: '#breadcrumb-example',
      },
      {
        name: 'Dividers',
        id: '#dividers',
      }
    ]

block component
  +ComponentCard({title:'Breadcrumb Example'}).my-4
    nav(aria-label='breadcrumb')
      ol.breadcrumb.mb-0
        li.breadcrumb-item
          a(href='#') Item 1
        li.breadcrumb-item
          a(href='#') Item 2
        li.breadcrumb-item
          a(href='#') Item 3
        li.breadcrumb-item.active(aria-current='page') Item 4
  +ComponentCard({title:'Dividers'}).my-4
    nav(style="--phoenix-breadcrumb-divider: '>>';", aria-label='breadcrumb')
      ol.breadcrumb.mb-0
        li.breadcrumb-item
          a(href='#') Home
        li.breadcrumb-item.active(aria-current='page') Library