extends ../../layouts/LayoutComponent
include ../../mixins/components/Carousel

append variables
  -
    var pageHeader = {
      title: 'Carousel',
      description: 'A slideshow component for cycling through elements—images or slides of text—like a carousel.',
      url: `https://getbootstrap.com/docs/${bootstrapVersion}/components/carousel/`,
      linkText: 'Carousel on Bootstrap',
      breadcrumb:[
        {
          name:'Components',
          link:'#!'
        },
        {
          name:'Carousel',
          active:true
        },
      ]
    }
  -
    var rightNav = [
      {
        name: 'Basic Example',
        id: '#basic-example',
      },
      {
        name: 'Styled Example',
        id: '#styled-example',
      },
      {
        name: 'With Captions',
        id: '#with-captions',
      },
      {
        name: 'Crossfade',
        id: '#crossfade',
      },
    ]

block component
  +ComponentCard({title:'Basic Example'}).my-4
    +CarouselBasicDemo

  +ComponentCard({title:'Styled Example'}).my-4
    +CarouselStyledDemo

  +ComponentCard({title:'With Captions'}).my-4
    +CarouselWithCaptionDemo

  +ComponentCard({title:'Crossfade'}).my-4
    +CarouselFadeDemo