extends ../../layouts/LayoutComponent
include ../../mixins/components/Dropdown

append variables
  -
    var pageHeader = {
      title: 'Dropdowns',
      description: 'Toggle contextual overlays for displaying lists of links and more with the Bootstrap dropdown plugin.',
      url: `https://getbootstrap.com/docs/${bootstrapVersion}/components/dropdowns/`,
      linkText: 'Dropdowns on Bootstrap',
    }
    var rightNav = [
      {
        name: 'Example',
        id: '#example'
      },
      {
        name: 'Dropdown Link',
        id: '#dropdown-link'
      },
      {
        name: 'Button Variant',
        id: '#button-variant'
      },
      {
        name: 'Button Split',
        id: '#button-split'
      },
      {
        name: 'Sizing',
        id: '#sizing'
      },
      {
        name: 'Directions',
        id: '#directions'
      },
      {
        name: 'Menu Items',
        id: '#menu-items'
      },
      {
        name: 'Active Link',
        id: '#active-link'
      },
      {
        name: 'Disabled Link',
        id: '#disabled-link'
      },
      {
        name: 'Headers',
        id: '#headers'
      },
      {
        name: 'Dividers',
        id: '#dividers'
      },
    ]

block component
  h2.mt-5(data-anchor) Overview
  +DropdownOverview

  +ComponentCard({
    title: 'Example',
    anchor: true,
  }).my-5
    +DropdownExampleDemo

  +ComponentCard({
    title: 'Dropdown Link',
    anchor: true,
  }).my-5
    +DropdownLinkDemo

  +ComponentCard({
    title: 'Button Variant',
    anchor: true,
  }).my-5
    +DropdownButtonVarientDemo

  +ComponentCard({
    title: 'Button Split',
    anchor: true,
  }).my-5
    +DropdownButtonSplitDemo

  +ComponentCard({
    title: 'Sizing',
    anchor: true,
  }).my-5
    +DropdownSizingDemo

  +ComponentCard({
    title: 'Directions',
    anchor: true,
  }).my-5
    +DropdownDirectionsDemo

  +ComponentCard({
    title: 'Menu Items',
    anchor: true,
  }).my-5
    +DropdownMenuItemsDemo

  +ComponentCard({
    title: 'Active Link',
    anchor: true,
  }).my-5
    +DropdownActiveLinkDemo
  +ComponentCard({
    title: 'Disabled Link',
    anchor: true,
  }).my-5
    +DropdownDisabledLinkDemo


  +ComponentCard({
    title: 'Alignment',
    anchor: true,
  }).my-5
    +DropdownAlignmentDemo

  +ComponentCard({
    title: 'Headers',
    anchor: true,
  }).my-5
    +DropdownHeaderDemo

  +ComponentCard({
    title: 'Dividers',
    anchor: true,
  }).my-5
    +DropdownDividerDemo

