extends ../../layouts/LayoutComponent
include ../../mixins/components/ListGroup

append variables
  -
    var pageHeader = {
      title: 'List group',
      description: 'List groups are a flexible and powerful component for displaying a series of content. Modify and extend them to support just about any content within.',
      url: `https://getbootstrap.com/docs/${bootstrapVersion}/components/list-group/`,
      linkText: 'List group on Bootstrap',
    }
  -
    var rightNav = [
      {
        name: 'Basic Example',
        id: '#basic-example',
      },
      {
        name: 'Active Item',
        id: '#active-item',
      },
      {
        name: 'List group flush',
        id: '#list-group-flush',
      },
      {
        name: 'List group with badge',
        id: '#list-group-with-badge',
      },
      {
        name: 'List group background',
        id: '#list-group-background',
      },
      {
        name: 'List group with Link',
        id: '#list-group-with-link',
      },
    ]

block component
  .row.g-3.my-3
    .col-12.col-lg-6
      +ComponentCard({title:'Basic Example'})
        +ListGroupBasicExampleDemo
    .col-12.col-lg-6
      +ComponentCard({title:'Active Item'})
        +ListGroupActiveItemDemo
    .col-12.col-lg-6
      +ComponentCard({title:'List group flush'})
        +ListGroupFlushDemo
    .col-12.col-lg-6
      +ComponentCard({title:'List group with badge'})
        +ListGroupBadgeDemo
    .col-12.col-lg-6
      +ComponentCard({title:'List group background'})
        +ListGroupBackgroundDemo
    .col-12.col-lg-6
      +ComponentCard({title:'List group with Link'})
        +ListGroupLinkDemo