extends ../../layouts/LayoutComponent
include ../../mixins/components/Placeholder

append variables
  -
    var pageHeader = {
      title: 'Placeholders',
      description: 'Use loading placeholders for your components or pages to indicate something may still be loading.',
      url: `https://getbootstrap.com/docs/${bootstrapVersion}/components/placeholders/`,
      linkText: 'Placeholders on Bootstrap',
    }
  -
    var rightNav = [
      {
        name: 'Examples',
        id: '#examples',
      },
      {
        name: 'Width',
        id: '#label',
      },
      {
        name: 'Color',
        id: '#color',
      },
      {
        name: 'Sizing',
        id: '#sizing',
      },
      {
        name: 'Animation',
        id: '#animation',
      },
    ]

block component

  +ComponentCard({
    title:'Examples', 
    description:`In the example below, we take a typical card component and recreate it with placeholders applied to create a “loading card”. Size and proportions are the same between the two.`
  }).my-6
    +PlaceholeHolderExample

  +ComponentCard({
    title:'Width', 
    description:`You can change the <code>width</code> through grid column classes, width utilities, or inline styles.`
  }).my-6
    +PlaceholderWidth

  +ComponentCard({
    title:'Color', 
    description:`By default, the <code>placeholder</code> uses <code>currentColor</code>. This can be overriden with a custom color or utility class.`
  }).my-6
    +PlaceholderColor

  +ComponentCard({
    title:'Sizing', 
    description:`The size of <code>.placeholder</code>s are based on the typographic style of the parent element. Customize them with sizing modifiers: <code>.placeholder-lg</code>, <code>.placeholder-sm</code>, or <code>.placeholder-xs</code>.`
  }).my-6
    +PlaceholderSizing

  +ComponentCard({
    title:'Animation', 
    description:`Animate placehodlers with <code>.placeholder-glow</code> or <code>.placeholder-wave</code> to better convey the perception of something being <em>actively</em> loaded.`
  }).my-6
    +PlaceholderAnimation