extends ../../layouts/LayoutComponent
include ../../mixins/common/Avatar

append variables
  -
    var pageHeader = {
      title: 'Progress',
      description: 'Documentation and examples for using Bootstrap custom progress bars featuring support for stacked bars, animated backgrounds, and text labels.',
      url: `https://getbootstrap.com/docs/${bootstrapVersion}/components/progress/`,
      linkText: 'Progress on Bootstrap',
      breadcrumb:[
        {
          name:'Components',
          link:'#!'
        },
        {
          name:'Progress',
          active:true
        },
      ]
    }
  -
    var rightNav = [
      {
        name: 'Basic Example',
        id: '#basic-example',
      },
      {
        name: 'Label',
        id: '#label',
      },
      {
        name: 'Height',
        id: '#height',
      },
      {
        name: 'Background',
        id: '#background',
      }
    ]

block component
  +ComponentCard({title:'Basic Example'}).my-4
    .progress(style='height:15px')
      .progress-bar(role='progressbar', style='width: 70%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
  
  +ComponentCard({title:'Label'}).my-4
    .progress(style='height:15px')
      .progress-bar.rounded-3(role='progressbar', style='width: 50%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100') 50%

  +ComponentCard({title:'Height'}).my-4
    .progress.mb-3(style='height:1px')
      .progress-bar(role='progressbar', style='width: 70%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
    .progress.mb-3(style='height:10px')
      .progress-bar(role='progressbar', style='width: 70%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
    .progress.mb-3(style='height:20px')
      .progress-bar(role='progressbar', style='width: 70%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')

  +ComponentCard({title:'Background'}).my-4
    .progress.mb-3(style='height:15px')
      .progress-bar.bg-success(role='progressbar', style='width: 30%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
    .progress.mb-3(style='height:15px')
      .progress-bar.bg-info(role='progressbar', style='width: 40%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
    .progress.mb-3(style='height:15px')
      .progress-bar.bg-warning(role='progressbar', style='width: 50%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
    .progress.mb-3(style='height:15px')
      .progress-bar.bg-danger(role='progressbar', style='width: 60%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')


