extends ../../layouts/LayoutComponent
include ../../mixins/components/Scrollspy

append variables
  - var attrsBody = { 'data-bs-spy': 'scroll', 'data-bs-target': '#v-pills', 'data-bs-offset': 100,  tabindex: 0, };
  -
    var pageHeader = {
      title: 'Scrollspy',
      description: 'Automatically update Bootstrap navigation or list group components based on scroll position to indicate which link is currently active in the viewport.',
      url: `https://getbootstrap.com/docs/${bootstrapVersion}/components/scrollspy/`,
      linkText: 'Scrollspy on Bootstrap',
      breadcrumb:[
        {
          name:'Components',
          link:'#!'
        },
        {
          name:'Scrollspy',
          active:true
        },
      ]
    }
  -
    var rightNav = [
      {
        name: 'Basic Example',
        id: '#basic-example',
      }
    ]

block component
  +ComponentCard({title:'Basic Example'}).my-4
    +ScrollspyDemo