extends ../../layouts/LayoutComponent
include ../../mixins/components/Tooltips

append variables
  -
    var pageHeader = {
      title: 'Tooltips',
      description: 'Documentation and examples for adding custom Bootstrap tooltips with CSS and JavaScript using CSS3 for animations and data-bs-attributes for local title storage.',
      url: `https://getbootstrap.com/docs/${bootstrapVersion}/components/tooltips/`,
      linkText: 'Tooltips on Bootstrap',
    }
  -
    var rightNav = [
      {
        name: 'Example',
        id: '#example',
      }
    ]

block component
  +ComponentCard({
    title:'Example',
    anchor:true,
    description:`Hover over the links below to see tooltips:<br>Tight pants next level keffiyeh <a href="#" data-bs-toggle="tooltip" title="Default tooltip">you probably</a> haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. Farm-to-table seitan, mcsweeney's fixie sustainable quinoa 8-bit american apparel <a href="#" data-bs-toggle="tooltip" title="" data-original-title="Another tooltip">have a</a> terry richardson vinyl chambray. Beard stumptown, cardigans banh mi lomo thundercats. Tofu biodiesel williamsburg marfa, four loko mcsweeney's cleanse vegan chambray. A really ironic artisan <a href="#" data-bs-toggle="tooltip" title="" data-original-title="Another one here too">whatever keytar</a>, scenester farm-to-table banksy Austin <a href="#" data-bs-toggle="tooltip" title="The last tip!">twitter handle</a> freegan cred raw denim single-origin coffee viral.`
  }).my-6
    +TooltipExampleDemo