//- append variables 
//-   -
//-     var frame={
//-       "className":"bottom-0 ",
//-         "image":`${CWD}assets/img/hero/frame.png`,
//-         //- "gradient":"linear-gradient(90deg, #0d2974 -11.17%, #3498db 110.39%);" 
//-         attrs:{
//-           style:'background-size: none;' 
//-         }
//-     }

//- mixin Frame
//-   +Section(frame)