append variables
mixin Item 
  .row.mt-4.grid
    each val in data
      .col-lg-4.col-6.mb-3(class=`item ${
      val.item
        }`)
          a(href=`${val.preview}`  data-category=`${val.item}`).text-decoration-none
            +ItemCard(val)


