extends ../../layouts/LayoutComponent
include ../../mixins/utilities/Interactions

append variables
  
  -
    var pageHeader = {
      title: 'Interactions',
      description: 'Utility classes that change how users interact with contents of a website.',
      url: `https://getbootstrap.com/docs/${bootstrapVersion}/utilities/interactions/`,
      linkText: 'Interactions on Bootstrap'
    }
  -
    var rightNav = [
      {
        name: 'Text selection',
        id: '#text-selection',
      },
      {
        name: 'Pointer events',
        id: '#pointer-events',
      },
    ]

block component

  +ComponentCard({
    title: 'Text selection',
    description: `Change the way in which the content is selected when the user interacts with it.`,
    anchor:true,
    descriptionClass:'mt-2'

  }).my-5
    +InteractionsTextSelection

  +ComponentCard({
    title: 'Pointer events',
    description: 'Bootstrap provides <code>.pe-none</code> and <code>.pe-auto</code> classes to prevent or add element interactions.',
    anchor:true,
    descriptionClass:'mt-2'
  }).my-5
    +InteractionsPointerEvents

  