extends ../../layouts/LayoutComponent
include ../../mixins/utilities/Overflow

append variables
  
  -
    var pageHeader = {
      title: 'Overflow',
      description: 'Use these shorthand utilities for quickly configuring how content overflows an element.',
      url: `https://getbootstrap.com/docs/${bootstrapVersion}/utilities/overflow/`,
      linkText: 'Overflow on Bootstrap'
    }
  -
    var rightNav = [
      {
        name: 'Example',
        id: '#example',
      },
    ]

block component

  +ComponentCard({
    title: 'Example',
    description: 'Adjust the overflow property on the fly with four default values and classes. These classes are not responsive by default.',
    anchor: true,
    descriptionClass:'mt-2'
  }).my-5.overflow-docs(style="min-height: 250px;")
    +OverflowExample

  