extends ../../layouts/LayoutComponent
include ../../mixins/utilities/Sizing

append variables
  -
    var pageHeader = {
      title: 'Sizing',
      description: 'Easily make an element as wide or as tall with our width and height utilities.',
      url: `https://getbootstrap.com/docs/${bootstrapVersion}/utilities/sizing/`,
      linkText: 'Sizing on Bootstrap'
    }
  -
    var rightNav = [
      {
        name: 'Width',
        id: '#width-relative-to-parent',
      },
      {
        name: 'Height',
        id: '#height-relative-to-parent',
      },
      {
        name: 'Special classes',
        id: '#special-classes-relative-to-viewport'
      },
    ]

append component

  +ComponentCard({title: 'Width (relative to parent)'}).my-5
    +SizingWidth

  +ComponentCard({title: 'Height (relative to parent)'}).my-5
    +SizingHeight

  +ComponentCard({title: 'Special classes (relative to viewport)', hideNavTab: true}).my-5
    +SizingSpecial


