mixin StudentFeedback 
  +Section.pt-0
    .row.h-100.align-items-center
      .col-md-12.col-lg-6.h-100
        .card.card-span.text-white.h-100
          img.w-100(src=`${CWD}assets/img/gallery/student-feedback.png` alt='...')
          .card-body.px-xl-5.px-md-3.pt-0
            .d-flex.flex-column.align-items-center.bg-200(style="margin-top:-2.4rem;")
              h5.mt-3.mb-0 Kimmie Vo
              p.text-muted Junior Designer
      .col-md-12.col-lg-6.h-100
        h1.my-4 Successful Student
          br 
          span.text-primary Feedback
        p Take courses from the world’s best instructors and universities. Courses include recorded auto-graded and peer-reviewed assignments, video lectures, and community discussion forums. When you complete a course, you’ll be eligible to receive a shareable electronic Course Certificate for a small fee.
        .mt-6
          h5.font-sans-serif.fw-bold.mb-3 The courses that Kimmie has taken
          .card.card-span.bg-600
            .card-body
              .row.flex-center.gx-0
                .col-lg-4.col-xl-3.text-center.text-xl-start
                  img(src=`${CWD}assets/img/gallery/art-design.png` width="120" alt='courses')
                .col-lg-8.col-xl-9
                  h5.font-sans-serif.fw-bold Modern and Contemporary Art and Design
                  p.text-muted.fs--1 The Museum of Modern Art