mixin HeroHeader
    +Section#hero.pt-8.py-lg-0
        +Hero({
            title:'A new model for <br class="d.none d-xl-block"/> open collaboration',
            subtitle:'Run an organization where members get rewarded for their contributions with fractional ownership.',
            image:'illustrations/hero.png',
            className:{
                title:'fs-6 fs-sm-8 fs-md-11 fs-lg-9 fs-xl-11 fs-xxl-12',
                subtitle:'fs-2 fs-md-4 lh-sm'
            }
        }).min-vh-lg-100