mixin Contact
  +Section#contact 
    .row
      h2.text-light.text-center.mb-8 Contact Us
      .col-12.col-lg-6.col-xl-7.mb-4.order-0.order-sm-0
        a.logo-footer.fs-7(href='index.html')
          span.text-primary.fw-bolder en
          span.fw-thin.text-300 surance
        p.text-light.my-4 
          i.fas.fa-map-marker-alt.me-3
          span.text-light 1500 Treat Ave, Suite 200  &nbsp;
          a(href='tel:+604-680-9785').text-light +604-680-9785
          br
          |San Francisco, CA 94110
       
        p.text-light 
          i.fas.fa-envelope.me-3.text-primary 
          a(href='mailto:vctung@outlook.com') vctung@outlook.com 

        p.text-light 
          i.fas.fa-phone-alt.me-3.text-primary 
          a(href='tel:1-800-800-2299') 1-800-800-2299 (Support)

      .col-12.col-lg-6.col-xl-5
        h3.text-200.my-4 Subscribe to newsletter    
        form.position-relative  
          .input-group-icon
            input.form-control.form-ensurance-control(type='email' placeholder='Enter your email ' aria-label='email') 
          button.btn.btn-primary.btn-subscribe(type='submit') Subscribe now