mixin Starter
  +Section.text-center
    .row.py-lg-5
      .col-lg-6.col-md-8.mx-auto
        h1.fw-light Simple Page
        p.lead.text-muted Its is a sample page of Zion where you can place any text, image, components or any other content. Start your new project with ZionTemplate right now!