mixin About
  +Section.pt-4.pt-md-5#about
    .row.align-items-center.justify-content-lg-between
      .col-md-5.order-md-1
        img.img-fluid.order-md-0.mb-4(src=`${CWD}assets/img/gallery/s.jpg`  alt='')  
        
      .col-md-7.col-lg-6
        h2 Awesome For Startups &amp; Tech
        p.lead.text-muted.mb-3  The startup is operational for the past two years but has recently received funding of an undisclosed amount from The Bill and Melinda Gates Foundation.
        p.lead.text-muted.mb-3  With each passing day, we are inching towards an AI-first world, and this is a great time for tech startups to make their mark.
        .pt-5
            img.mb-3(src='assets/img/icons/idea.png'  width="36" alt='')
            h5 Creative Minds
            p.text-muted.mb-0
              | A creative mind is the one that sees information – particularly from the world around it – and relates it to their experiences and existing knowledge in order to create.
        .pt-5
            img.mb-3(src='assets/img/icons/atomic.png'  width="36" alt='')
            h5 Engineering &amp; Services
            p.text-muted.mb-0
              | Engineering is the use of scientific principles to design and build machines, structures, and other items, including bridges, tunnels, roads, vehicles, and buildings. 
