mixin Locations
  +Section.bg-100.py-7.text-center
    .row.justify-content-center
      .col-md-8.col-lg-5
        h2 Huge Global Network
          br
          | of Fast VPN
        p See LaslesVPN everywhere to make it easier for you when you move locations.
      .pt-8
        img.img-fluid(src=`${CWD}assets/img/gallery/map.png` alt='')   