mixin Funfacts
  +Section.py-0(style="margin-top:-5.8rem")
    .row 
      .card.card-span.bg-secondary
        .card-body 
          .row.flex-center.gx-0
            .col-lg-4.col-xl-2.text-center.text-xl-start
              img(src=`${CWD}assets/img/gallery/funfacts.png` width="170"  alt='...')
            .col-lg-8.col-xl-4
              h1.text-light.fs-lg-4.fs-xl-5 Upcoming Our 
                span.text-primary Basic in Python 
                |Course!
            .col-lg-12.col-xl-6 
             h1.display-1.text-light.text-center.text-xl-end 11 : 02 : 45 : 21
            //-  h6.text-light Days hours  minutes     second
