mixin FindYourPassion
  section.py-5
    +Background({image: `${CWD}assets/img/illustrations/bg.png`, attrs: { style: { 'background-position': 'left top', 'background-size': 'initial','margin-top': '-180px',} }, className: '' })
    .container
      .row.flex-center
        .col-md-5.order-md-0.text-center.text-md-start
          img.img-fluid.mb-4(src=`${CWD}assets/img/illustrations/passion.png` width="450"  alt='')
        .col-md-5.text-center.text-md-start
          h6.fw-bold.fs-2.fs-lg-3.display-3.lh-sm Find your passion and
            br
            |achieve success
          p.my-4.pe-xl-8  find a job that suits your interests and talents. A high salary is not the top priority. Most importantly,You can work according to your heart's desire.
