mixin FooterHero
    +Section#rea
        +Hero({
            title:'Start an Open Enterprise',
            subtitle:'If you can’t wait to run a new or existing organization on Open Enterprise and are willing to explore and navigate the beta, we’d love to get you started.',
            image:'illustrations/hero2.png',
            className:{
                title:'display-5',
                subtitle:'fs-1'
            }
        })