mixin Footer
  +Section.text-center.py-0
    .container.border-top.py-3
      .row.justify-content-between 
        .col-12.col-md-auto.mb-1.mb-md-0
          p.mb-0 &copy; 2022 Your Company Inc 
        .col-12.col-md-auto 
          p.mb-0 
            |Made with
            span.fas.fa-heart.mx-1.text-danger 
            |by 
            a(href="https://themewagon.com/" target="_blank" ).text-decoration-none.ms-1 ThemeWagon


