mixin ItemCard(props)

  .card.shadow-lg.p-3.mb-2.bg-white.rounded
    .card-body.text-center
      .card-title=props.title
      .card-text=props.category
    img.card-img-bottom(src=`${CWD}assets/img/template/tabler${props.img}.png`  alt="Feature")
