mixin ItemCard(props)

  .card.mb-2.bg-white.card-showcase
    .card-body.text-center
      h4.card-title.fw-bold.text-success.mb-0=props.title
      .card-text.text-dark=props.category  
    img.card-img-bottom(src=`${CWD}assets/img/template/${props.img}`  alt="Feature")

