mixin MarketingCard(props)
  .col-md-4.mb-4
    .card
      img.card-img-top(src=`${CWD}assets/img/marketing/${props.img}.png` alt="")
      .card-body.ps-0
        p.text-secondary By 
          a(href="#").fw-bold.text-decoration-none.me-1=props.author
          | |
          span.ms-1=props.date
        h3.fw-bold=props.text