mixin FeatureVideos
  +Section.pt-5#featuresVideos
    .row.flex-center.mb-5
      .col-lg-8.text-center 
        h1.fw-bold.fs-md-3.fs-lg-4.fs-xl-5 Featured videos
        hr.mx-auto.text-primary.my-4(style="height:3px; width:70px;")
        p.mx-auto Aliquam sodales vitae ex tincidunt consectetur. Etiam eleifend malesuada magna, at imperdiet justo euismod eu. Aliquam vel imperdet mi, et convallis eros. Duis fermentum fringilla nisl at vulputate. Nunc nec lorem faucibus, molestie nisi id, elementum sem. Sed vulputate tempor augue a efficitur urna, ultrices eu. Duis vel turpis et arcu.

    .row.flex-center
      .col-12
        #carouselExampleIndicators.carousel.slide(data-bs-touch="false" data-bs-interval="false")
          .row.align-items-center
            .col-12.col-xxl-7.px-2
              .carousel-inner
                .carousel-item.active.h-100
                  .player(data-plyr-provider='youtube' data-plyr-embed-id='bTqVqk7FSmY')
                    iframe(  src='https://www.youtube.com/embed/zLeLttVbFs8' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen=''  )
                .carousel-item
                  .player( data-plyr-provider='youtube' data-plyr-embed-id='bTqVqk7FSmY')
                    iframe( src='https://www.youtube.com/embed/nUI8f_hvKZw' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                .carousel-item
                  .player( data-plyr-provider='youtube' data-plyr-embed-id='bTqVqk7FSmY')
                    iframe(src='https://www.youtube.com/embed/xf86EzuLXu0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                .carousel-item
                  .player( data-plyr-provider='youtube' data-plyr-embed-id='bTqVqk7FSmY')
                    iframe(src='https://www.youtube.com/embed/YkEd_aorIiI' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
            
            .col-6.col-md-3.col-xxl-2.pt-3.pt-md-0
              .carousel-indicators
                .row.h-100.w-100
                  .col-12.px-1
                    button.active(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
                      img.d-block(src=`${CWD}assets/img/gallery/maldives-v.png`  alt='...')   
                  .col-12.px-1
                    button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='1' aria-label='Slide 2')
                      img.d-block(src=`${CWD}assets/img/gallery/tanzania.png`   alt='...')
                  .col-12.px-1  
                    button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='2' aria-label='Slide 3')
                      img.d-block(src=`${CWD}assets/img/gallery/kathmandu-v.png`   alt='...')
                  .col-12.px-1  
                    button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='3' aria-label='Slide 4')
                      img.d-block(src=`${CWD}assets/img/gallery/chaina.png`   alt='...') 
            
            .col-6.col-lg-3.px-xxl-0
              .row
                .col-12.col-md-11.col-lg-12.col-xl-10.col-xxl-7.px-xxl-0.ps-lg-0.ps-md-4
                  .card.h-100.py-md-2.active(style="min-height:113px")
                    .card-body.d-flex.flex-column.justify-content-center
                      p.mb-0.fw-semi-bold.text-dark  When go to maldives
                      p.card-text
                        small.text-800 0.20
                .col-12.col-md-11.col-lg-12.col-xl-10.col-xxl-7.px-xxl-0.ps-lg-0.ps-md-4
                  .card.h-100.py-md-2(style="min-height:113px")
                    .card-body.d-flex.flex-column.justify-content-center
                      p.mb-0.fw-semi-bold.text-500 Tanzania’s deadly pink lake
                      p.card-text
                        small.text-800 05.24
                .col-12.col-md-11.col-lg-12.col-xl-10.col-xxl-7.px-xxl-0.ps-lg-0.ps-md-4
                  .card.h-100.py-md-2(style="min-height:113px")
                    .card-body.d-flex.flex-column.justify-content-center
                      p.mb-0.fw-semi-bold.text-500  Top things to do in Kathmandu
                      p.card-text
                        small.text-800 06.12
                .col-12.col-md-11.col-lg-12.col-xl-10.col-xxl-7.px-xxl-0.ps-lg-0.ps-md-4
                  .card.h-100.py-md-3(style="min-height:113px")
                    .card-body.d-flex.flex-column.justify-content-center
                      p.mb-0.fw-semi-bold.text-500  Exploring China’s creative capital
                      p.card-text
                        small.text-800 0.20   
        