extends ../../layouts/LayoutComponent

append variables
  -
    var pageHeader = {
      title: 'Styling',
      description:'We recommend you customize your theme styles using the user style files. You can customize the theme’s styles with the following approaches:'
    }

block component
  +ComponentCard({title: 'Webpack based workflow', hideNavTab: true}).my-4
    .border.rounded-1.bg-white.px-3.py-2.mb-3
      code user.scss
    p.mb-0 You can add your own SCSS and override the theme style in the 
      code src/scss/user.scss
      |  file.
    .border-dashed-bottom.my-3
    .border.rounded-1.bg-white.px-3.py-2.mt-4.mb-3
      code _user-variables.scss
    p.mb-0 To make broader changes to the design of the theme, such as changing the color scheme or font sizes, use 
      code src/scss/_user-variables.scss
      | . Any variable from 
      code node_modules/bootstrap/scss/variables
      |  or 
      code src/scss/theme/_variables.scss
      |  can be overridden with your own value.
    .border-dashed-bottom.my-3
    .border.rounded-1.bg-white.px-3.py-2.mt-4.mb-3
      code _bootstrap.scss
    p.mb-0 To remove bootstrap components, update
      code src/scss/_bootstrap.scss
      |  file.

  +ComponentCard({title: 'If you are not using Webpack based workflow', hideNavTab: true}).my-4
    .border.rounded-1.bg-white.px-3.py-2.mb-3
      code user.css
    p.mb-0 You can add your own CSS and override the theme style in the 
      code public/assets/css/user.css
      |  file.