mixin SocialButtons(config)
  button.btn.btn-phoenix-secondary.w-100.mb-3
    span.fab.fa-google.text-danger.me-2.fs--1
    | #{config.title} with google
  button.btn.btn-phoenix-secondary.w-100 
    span.fab.fa-facebook.text-primary.me-2.fs--1
    | #{config.title} with facebook