extends layouts/LayoutComponent

mixin Changelog(config)
  .card.shadow-none.border.border-300.my-3
    .card-header.border-bottom.border-300.bg-soft
      h5.mb-2
        code.fw-bold.fs-1=config.version
        |  - #{config.name}
      p.mb-0=config.date
    .card-body
      block

append variables
  -
    var pageHeader = {
      title: 'Changelog'
    }

block component
  +Changelog({
    version: 'v1.0.1',
    name:'Theseus',
    date: '30 March, 2022',
  })
    h6.mb-2 Fix
    ul.bullet-inside.ps-0.mb-0
      li Minor issues

  +Changelog({
    version: 'v1.0.0',
    name:'Initial Release',
    date: '24 March, 2022'
  })
    p.mb-0 Nothing to see here.