extends layouts/LayoutTheme
include mixins/dashboard/common
include mixins/dashboard/e-commerce/Stats
include mixins/dashboard/e-commerce/TotalSalesChart
include mixins/dashboard/e-commerce/StatCard
include mixins/dashboard/e-commerce/TopRegions
include mixins/dashboard/e-commerce/LatestReviews

append variables
  - var attrsContent = { class: 'pt-5' };

append scripts
  script(src=`${CWD}assets/js/ecommerce-dashboard.js`)

block content
  .pb-5
    .row.g-5
      .col-12.col-xxl-6
        .mb-8
          h2.mb-2 Ecommerce Dashboard
          h5.text-700.fw-semi-bold Here’s what’s going on at your business right now
        +Stats
        hr.bg-200.mb-6.mt-4
        +TotalSalesChart
      .col-12.col-xxl-6
        .row.g-3
          .col-12.col-md-6
            +TotalOrders
          .col-12.col-md-6
            +NewCustomers
          .col-12.col-md-6
            +TopCoupons
          .col-12.col-md-6
            +PayingCustomer
  .mx-n6.bg-white.px-6.pt-7.border-y.border-300
    .row
      +LatestReviews
  .row.gx-6
    .col-12.col-xl-6
      .mb-5.mt-7
        h3 Top regions by revenue
        p.text-700 Where you generated most of the revenue
      +TopRegionsTable
    .col-12.col-xl-6
      .mx-n6.ms-xl-0.h-100
        .h-100.w-100
          #map.h-100.bg-white(style="min-height: 300px;")
  .mx-n6.bg-white.px-6.pt-7.pb-6.border-top.border-300  
    .row.g-5
      .col-12.col-xl-6
        .me-xl-4
          div
            h3 Projection vs authentic
            p.text-700 Actual earnings vs projected earnings
          .echart-project-actual(style='height:300px; width:100%')
      .col-12.col-xl-6
        //- .ms-xl-6
        div
          h3 Returning customer rate
          p.text-700 Rate of customers returning to your shop over time
        .echart-returning-customer(style='height:300px;')