mixin ComeOnJoin 
  section.py-0
    img(src=`${CWD}assets/img/illustrations/come-on-join.png` alt='').w-100
    .container
      .row.align-items-center
        .col-12.text-center 
          h6.fw-bold.fs-3.fs-lg-5.lh-sm Come on, join with us !
          p Create an account and refer your friend 