/*-----------------------------------------------
|   Phoenix buttons
-----------------------------------------------*/
// $theme-phoenix-btn-colors: (
//   'primary': $primary,
//   'success': $success,
//   'info': $info,
//   'warning': $warning,
//   'danger': $danger,
//   'default': $dark
// );

// @each $color, $value in $theme-phoenix-btn-colors {
//   .btn-#{$color} {
//     @include phoenix-button-variant($color);
//   }
// }

/* -------------------------------------------------------------------------- */
/*                                Phoenix button                              */
/* -------------------------------------------------------------------------- */
@mixin phoenix-button-variant($color) {
  color: $color;
  background-color: $gray-soft;
  // @if $enable-gradients {
  //   background-image: var(--#{$variable-prefix}gradient);
  // }
  border-color: $gray-200;
  box-shadow: none;

  @include hover-focus {
    color: $color;
    background-color: $gray-100;
    border-color: $gray-100;
    &:not(.disabled):not(:disabled) {
      color: $color;
      box-shadow: none;
    }
  }
}
