mixin NavbarLivedoc
  nav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3.d-block(data-navbar-on-scroll)
    .container
      a.navbar-brand(href='index.html')
        img(src=`${CWD}assets/img/gallery/logo.png`   width="118"  alt='logo')

      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon 
      #navbarSupportedContent.collapse.navbar-collapse.border-top.border-lg-0.mt-4.mt-lg-0
        ul.navbar-nav.ms-auto.pt-2.pt-lg-0.font-base
          li.nav-item.px-2
            a.nav-link(aria-current='page', href='#about' class=currentPage === 'index' ? 'active' : false ) About Us
          li.nav-item.px-2
            a.nav-link(href='#departments') Departments
          li.nav-item.px-2
            a.nav-link(href='#findUs') Membership
          li.nav-item.px-2
            a.nav-link(href='#findUs') Help 
          li.nav-item.px-2
            a.nav-link(href='#findUs') Contact
        a.btn.btn-sm.btn-outline-primary.rounded-pill.order-1.order-lg-0.ms-lg-4( href="#!") Sign In
       

        