extends ../../layouts/LayoutComponent

append variables
  -
    var pageHeader = {
      title: 'Floating labels',
      description: 'Create beautifully simple form labels that float over your input fields.',
      url: `https://getbootstrap.com/docs/${bootstrapVersion}/forms/floating-labels/`,
      linkText: 'Floating labels on Bootstrap'
    }
  -
    var rightNav = [
      {
        name: 'Example',
        id: '#example',
      },
      {
        name: 'Validation ',
        id: '#validation ',
      },
      {
        name: 'Textareas',
        id: '#textareas',
      },
      {
        name: 'Selects',
        id: '#selects',
      },
    ]

block component
  +ComponentCard({title:'Example'}).my-4
    .form-floating.mb-3
      = '\n'
      input#floatingInput.form-control(type='email' placeholder='name@example.com')
      = '\n'
      label(for='floatingInput') Email address
    .form-floating
      = '\n'
      input#floatingPassword.form-control(type='password' placeholder='Password')
      = '\n'
      label(for='floatingPassword') Password

  +ComponentCard({title:'Validation'}).my-4
    .form-floating.mb-3
      = '\n'
      input#floatingInputValid.form-control.is-valid(type='email' placeholder='name@example.com' value='test@example.com')
      = '\n'
      label(for='floatingInputValid') Valid input
    .form-floating
      = '\n'
      input#floatingInputInvalid.form-control.is-invalid(type='email' placeholder='name@example.com' value='test@example.com')
      = '\n'
      label(for='floatingInputInvalid') Invalid input

  +ComponentCard({title:'Textareas'}).my-4
    .form-floating
      = '\n'
      textarea#floatingTextarea2.form-control(placeholder='Leave a comment here' style='height: 100px')
      = '\n'
      label(for='floatingTextarea2') Comments

  +ComponentCard({title:'Selects'}).my-4
    .form-floating
      = '\n'
      select#floatingSelect.form-select(aria-label='Floating label select example')
        option(selected='') Open this select menu
        option(value='1') One
        option(value='2') Two
        option(value='3') Three
      = '\n'
      label(for='floatingSelect') Works with selects