extends ../../layouts/LayoutComponent
include ../../mixins/common/Avatar

append variables
  -
    var pageHeader = {
      title: 'Form Control',
      description: 'Give textual form controls like <code>&lt;input&gt;</code>s and <code>&lt;textarea&gt;</code>s an upgrade with custom styles, sizing, focus states, and more.',
      url: `https://getbootstrap.com/docs/${bootstrapVersion}/forms/form-control/`,
      linkText: 'Form Controls on Bootstrap'
    }
  -
    var rightNav = [
      {
        name: 'Example',
        id: '#example',
      },
      {
        name: 'Sizing',
        id: '#sizing',
      },
      {
        name: 'Readonly plain text',
        id: '#readonly-plain-text',
      },
      {
        name: 'File Input',
        id: '#file-input',
      },
      {
        name: 'File Input Sizing',
        id: '#file-input-sizing',
      },
    ]

block component
  +ComponentCard({title:'Example'}).my-4
    .mb-3 
      = '\n'
      label.form-label(for='exampleFormControlInput1') Email address 
      = '\n'
      input#exampleFormControlInput1.form-control(type='email' placeholder='name@example.com') 
    .mb-0 
      = '\n'
      label.form-label(for='exampleTextarea') Example Textarea 
      = '\n'
      textarea#exampleTextarea.form-control(rows="3") 

  +ComponentCard({title:'Sizing'}).my-4
    .mb-3 
      = '\n'
      input#sizingInputLg.form-control.form-control-lg(type='text' placeholder='.form-control-lg')
    .mb-3 
      = '\n'
      input#sizingInput.form-control.form-control(type='text' placeholder='.form-control')
    .mb-0 
      = '\n'
      input#sizingInputSm.form-control.form-control-sm(type='text' placeholder='.form-control-sm') 

  +ComponentCard({title:'Readonly plain text'}).my-4
    .mb-3.row
      = '\n'
      label.col-sm-2.col-form-label(for='staticEmail') Email
      = '\n'
      .col-sm-10
        = '\n'
        input#staticEmail.form-control-plaintext.outline-none(type='text' readonly='' value='email@example.com')
        = '\n'
        .mb-3.row 
      = '\n'
      label.col-sm-2.col-form-label(for='inputPassword') Password
      = '\n'
      .col-sm-10
        = '\n'
        input#inputPassword.form-control(type='password')

  +ComponentCard({title:'File Input'}).my-4
    .mb-3 
      = '\n'
      label.form-label(for='customFile') File input example
      = '\n'
      input#customFile.form-control(type='file')
    .mb-3
      = '\n'
      label.form-label(for='formFileDisabled') Disabled file input example
      = '\n'
      input#formFileDisabled.form-control(type='file' disabled='disabled')
    .mb-3
      = '\n'
      label.form-label(for='formFileMultiple') Multiple files input example
      = '\n'
      input#formFileMultiple.form-control(type='file' multiple='multiple')

  +ComponentCard({title:'File Input Sizing'}).my-4
    .mb-3
      = '\n'
      label.form-label(for='customFileSm') Small file input example
      = '\n'
      input#customFileSm.form-control.form-control-sm(type='file')
    .mb-3
      = '\n'
      label.form-label(for='customFileLg') Large file input example
      = '\n'
      input#customFileLg.form-control.form-control-lg(type='file')
