extends ../../layouts/LayoutComponent
include ../../mixins/forms/FormsLayout

append variables
  -
    var pageHeader = {
      title: 'Layout',
      description: 'Give your forms some structure—from inline to horizontal to custom grid implementations—with our form layout options.',
      url: `https://getbootstrap.com/docs/${bootstrapVersion}/forms/layout/`,
      linkText: 'Forms Layout on Bootstrap',
    }
  
  -
    var rightNav = [
      {
        name: 'Basic form',
        id: '#basic-form',
      },
      {
        name: 'Horizontal form',
        id: '#horizontal-form',
      },
      {
        name: 'Horizontal form label sizing',
        id: '#horizontal-form-label-sizing',
      },
      {
        name: 'Form grid',
        id: '#form-grid',
      },
      {
        name: 'Form Grid Layout',
        id: '#form-grid-layout',
      },
      {
        name: 'Grid - Column Sizing',
        id: '#grid-column-sizing',
      },
      {
        name: 'Grid - Auto Sizing',
        id: '#grid-auto-sizing',
      },
      {
        name: 'Gutters',
        id: '#gutters',
      },
      {
        name: 'Utilities',
        id: '#utilities',
      },
    ]

block component
  +ComponentCard({title:'Basic form'}).my-4
    +BasicForm
    
  +ComponentCard({title:'Horizontal form'}).my-4
    form
      .row.mb-3
        = '\n'
        label.col-sm-2.col-form-label(for='inputEmail3') Email
        = '\n'
        .col-sm-10
          = '\n'
          input#inputEmail3.form-control(type='email')
      .row.mb-3
        = '\n'
        label.col-sm-2.col-form-label(for='inputPassword3') Password
        .col-sm-10
          = '\n'
          input#inputPassword3.form-control(type='password')
      fieldset
        .row.mb-3
          = '\n'
          label.col-form-label.col-sm-2.pt-0 Radios
          = '\n'
          .col-sm-10
            = '\n'
            .form-check
              = '\n'
              input#gridRadios1.form-check-input(type='radio' name='gridRadios' value='option1' checked='')
              = '\n'
              label.form-check-label(for='gridRadios1') First radio
            .form-check
              = '\n'
              input#gridRadios2.form-check-input(type='radio' name='gridRadios' value='option2')
              = '\n'
              label.form-check-label(for='gridRadios2') Second radio
            .form-check.disabled
              = '\n'
              input#gridRadios3.form-check-input(type='radio' name='gridRadios' value='option3' disabled='')
              = '\n'
              label.form-check-label(for='gridRadios3') Third disabled radio
      .row.mb-3
        .col-form-label.col-sm-2.pt-0 Checkbox
        .col-sm-10
          .form-check
            = '\n'
            input#gridCheck1.form-check-input(type='checkbox')
            = '\n'
            label.form-check-label(for='gridCheck1') Example checkbox
      = '\n'
      button.btn.btn-primary(type='submit') Sign in

  +ComponentCard({title:'Horizontal form label sizing'}).my-4
    .row.mb-3
      = '\n'
      label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Email
      .col-sm-10
        = '\n'
        input#colFormLabelSm.form-control.form-control-sm(type='email' placeholder='col-form-label-sm')
    .row.mb-3
      = '\n'
      label.col-sm-2.col-form-label(for='colFormLabel') Email
      .col-sm-10
        = '\n'
        input#colFormLabel.form-control(type='email' placeholder='col-form-label')
    .row
      = '\n'
      label.col-sm-2.col-form-label.col-form-label-lg(for='colFormLabelLg') Email
      .col-sm-10
        = '\n'
        input#colFormLabelLg.form-control.form-control-lg(type='email' placeholder='col-form-label-lg')

  +ComponentCard({title:'Form grid'}).my-4
    .row
      .col
        = '\n'
        input.form-control(type='text' placeholder='First name' aria-label='First name')
      .col
        = '\n'
        input.form-control(type='text' placeholder='Last name' aria-label='Last name')

  +ComponentCard({title:'Form Grid Layout'}).my-4
    form.row.g-3
      .col-md-6
        = '\n'
        label.form-label(for='inputEmail4') Email
        = '\n'
        input#inputEmail4.form-control(type='email')
      .col-md-6
        = '\n'
        label.form-label(for='inputPassword4') Password
        = '\n'
        input#inputPassword4.form-control(type='password')
      .col-12
        = '\n'
        label.form-label(for='inputAddress') Address
        = '\n'
        input#inputAddress.form-control(type='text' placeholder='1234 Main St')
      .col-12
        = '\n'
        label.form-label(for='inputAddress2') Address 2
        = '\n'
        input#inputAddress2.form-control(type='text' placeholder='Apartment, studio, or floor')
      .col-md-6
        = '\n'
        label.form-label(for='inputCity') City
        = '\n'
        input#inputCity.form-control(type='text')
      .col-md-4
        = '\n'
        label.form-label(for='inputState') State
        = '\n'
        select#inputState.form-select
          option(selected='selected') Choose...
          option ...
      .col-md-2
        = '\n'
        label.form-label(for='inputZip') Zip
        = '\n'
        input#inputZip.form-control(type='text')
      .col-12
        = '\n'
        .form-check
          = '\n'
          input#gridCheck.form-check-input(type='checkbox')
          = '\n'
          label.form-check-label(for='gridCheck') Check me out
      .col-12
        = '\n'
        button.btn.btn-primary(type='submit') Sign in

  +ComponentCard({title:'Grid - Column Sizing'}).my-4
    .row.g-3
      .col-sm-7
        = '\n'
        input.form-control(type='text' placeholder='City' aria-label='City')
      .col-sm
        = '\n'
        input.form-control(type='text' placeholder='State' aria-label='State')
      .col-sm
        = '\n'
        input.form-control(type='text' placeholder='Zip' aria-label='Zip')

  +ComponentCard({title:'Grid - Auto Sizing'}).my-4
    form.row.gy-2.gx-3.align-items-center
      .col-auto
        = '\n'
        label.visually-hidden(for='autoSizingInput') Name
        = '\n'
        input#autoSizingInput.form-control(type='text' placeholder='Jane Doe')
      .col-auto
        = '\n'
        label.visually-hidden(for='autoSizingInputGroup') Username
        = '\n'
        .input-group
          = '\n'
          .input-group-text @
          = '\n'
          input#autoSizingInputGroup.form-control(type='text' placeholder='Username')
      .col-auto
        = '\n'
        label.visually-hidden(for='autoSizingSelect') Preference
        = '\n'
        select#autoSizingSelect.form-select
          option(selected='selected') Choose...
          option(value='1') One
          option(value='2') Two
          option(value='3') Three
      .col-auto
        = '\n'
        .form-check.mb-0
          = '\n'
          input#autoSizingCheck.form-check-input(type='checkbox')
          = '\n'
          label.form-check-label.mb-0(for='autoSizingCheck') Remember me
      .col-auto
        = '\n'
        button.btn.btn-primary(type='submit') Submit

  +ComponentCard({title:'Gutters'}).my-4
    .row.g-3
      .col
        = '\n'
        input.form-control(type='text' placeholder='First name' aria-label='First name')
      .col
        = '\n'
        input.form-control(type='text' placeholder='Last name' aria-label='Last name')

  +ComponentCard({title:'Inline forms'}).my-4
    form.row.row-cols-lg-5.g-3.align-items-center
      .col-12
        = '\n'
        label.sr-only(for='inlineFormInputName') Name
        = '\n'
        input#inlineFormInputName.form-control(type='text' placeholder='Jane Doe')
      .col-12
        = '\n'
        label.sr-only(for='inlineFormInputGroupUsername') Username
        = '\n'
        .input-group
          .input-group-text @
          = '\n'
          input#inlineFormInputGroupUsername.form-control(type='text' placeholder='Username')
      .col-12
        = '\n'
        label.sr-only(for='inlineFormSelectPref') Preference
        = '\n'
        select#inlineFormSelectPref.form-select
          option(selected='') Choose...
          option(value='1') One
          option(value='2') Two
          option(value='3') Three
      .col-12
        = '\n'
        .form-check.mb-0
          = '\n'
          input#inlineFormCheck.form-check-input(type='checkbox')
          = '\n'
          label.mb-0.form-check-label(for='inlineFormCheck') Remember me
      .col-12
        = '\n'
        button.btn.btn-primary(type='submit') Submit

  +ComponentCard({title:'Utilities'}).my-4
    .mb-3
      = '\n'
      label.form-label(for='formGroupExampleInput') Example label
      = '\n'
      input#formGroupExampleInput.form-control(type='text' placeholder='Example input placeholder')
    .mb-3
      = '\n'
      label.form-label(for='formGroupExampleInput2') Another label
      = '\n'
      input#formGroupExampleInput2.form-control(type='text' placeholder='Another input placeholder')