extends ../../layouts/LayoutComponent

append variables
  -
    var pageHeader = {
      title: 'Range',
      description: 'Use our custom range inputs for consistent cross-browser styling and built-in customization.',
      url: `https://getbootstrap.com/docs/${bootstrapVersion}/forms/range/`,
      linkText: 'Range on Bootstrap',
    }
  -
    var rightNav = [
      {
        name: 'Overview',
        id: '#overview',
      },
      {
        name: 'Min and max',
        id: '#min-and-max',
      },
      {
        name: 'Steps',
        id: '#steps',
      }
    ]

block component
  +ComponentCard({title:'Overview'}).my-4
    label.form-label(for='customRange1') Example range
    = '\n'
    input#customRange1.form-range(type='range')

  +ComponentCard({title:'Min and max'}).my-4
    label.form-label(for='customRange2') Example range
    = '\n'
    input#customRange2.form-range(type='range' min='0' max='5')

  +ComponentCard({title:'Steps'}).my-4
    label.form-label(for='customRange3') Example range
    = '\n'
    input#customRange3.form-range(type='range' min='0' max='5' step='0.5')
