extends ../../layouts/LayoutComponent

append variables
  -
    var pageHeader = {
      title: 'Select',
      description: 'Customize the native &lt;select&gt; with custom CSS that changes the element’s initial appearance.',
      url: `https://getbootstrap.com/docs/${bootstrapVersion}/forms/select/`,
      linkText: 'Select on Bootstrap',
    }
  
  -
    var rightNav = [
      {
        name: 'Default',
        id: '#default',
      },
      {
        name: 'Sizing',
        id: '#sizing',
      }
    ]

block component
  +ComponentCard({title:'Default'}).my-4
    select.form-select(aria-label='Default select example')
      option(selected='') Open this select menu
      option(value='1') One
      option(value='2') Two
      option(value='3') Three

  +ComponentCard({title:'Sizing'}).my-4
    select.form-select.form-select-lg.mb-3(aria-label='.form-select-lg example')
      option(selected='') Open this select menu
      option(value='1') One
      option(value='2') Two
      option(value='3') Three
    = '\n'
    select.form-select.form-select-sm(aria-label='.form-select-sm example')
      option(selected='') Open this select menu
      option(value='1') One
      option(value='2') Two
      option(value='3') Three
