extends ../../layouts/LayoutComponent

append variables
  -
    var pageHeader = {
      title: 'Validation',
      description: 'Provide valuable, actionable feedback to your users with HTML5 form validation, via browser default behaviors or custom styles and JavaScript.',
      url: `https://getbootstrap.com/docs/${bootstrapVersion}/forms/validation/`,
      linkText: 'Forms validation on Bootstrap',
      breadcrumb:[
        {
          name:'Components',
          link:'#!'
        },
        {
          name:'Validation',
          active:true
        },
      ]
    }
  -
    var rightNav = [
      {
        name: 'Custom styles Example',
        id: '#custom-styles-example',
      },
      {
        name: 'Tooltips',
        id: '#tooltips',
      }
    ]

block component
  +ComponentCard({title:'Custom styles Example'}).my-4
    form.row.g-3.needs-validation(novalidate='')
      .col-md-4
        = '\n'
        label.form-label(for='validationCustom01') First name
        = '\n'
        input#validationCustom01.form-control(type='text' value='Mark' required='')
        .valid-feedback Looks good!
      .col-md-4
        = '\n'
        label.form-label(for='validationCustom02') Last name
        = '\n'
        input#validationCustom02.form-control(type='text' value='Otto' required='')
        .valid-feedback Looks good!
      .col-md-4
        = '\n'
        label.form-label(for='validationCustomUsername') Username
        = '\n'
        .input-group.has-validation
          = '\n'
          span#inputGroupPrepend.input-group-text @
          = '\n'
          input#validationCustomUsername.form-control(type='text' aria-describedby='inputGroupPrepend' required='')
          .invalid-feedback Please choose a username.
      .col-md-6
        = '\n'
        label.form-label(for='validationCustom03') City
        = '\n'
        input#validationCustom03.form-control(type='text' required='')
        .invalid-feedback Please provide a valid city.
      .col-md-3
        = '\n'
        label.form-label(for='validationCustom04') State
        = '\n'
        select#validationCustom04.form-select(required='')
          option(selected='' disabled='' value='') Choose...
          option ...
        .invalid-feedback Please select a valid state.
      .col-md-3
        = '\n'
        label.form-label(for='validationCustom05') Zip
        = '\n'
        input#validationCustom05.form-control(type='text' required='')
        .invalid-feedback Please provide a valid zip.
      .col-12
        = '\n'
        .form-check
          = '\n'
          input#invalidCheck.form-check-input(type='checkbox' value='' required='')
          = '\n'
          label.form-check-label.mb-0(for='invalidCheck') Agree to terms and conditions
          .invalid-feedback.mt-0 You must agree before submitting.
      .col-12
        = '\n'
        button.btn.btn-primary(type='submit') Submit form

  +ComponentCard({title:'Tooltips'}).my-4
    form.row.g-3.needs-validation(novalidate='')
      .col-md-4.position-relative
        = '\n'
        label.form-label(for='validationTooltip01') First name
        = '\n'
        input#validationTooltip01.form-control(type='text' value='Mark' required='')
        .valid-tooltip Looks good!
      .col-md-4.position-relative
        = '\n'
        label.form-label(for='validationTooltip02') Last name
        = '\n'
        input#validationTooltip02.form-control(type='text' value='Otto' required='')
        .valid-tooltip Looks good!
      .col-md-4.position-relative
        = '\n'
        label.form-label(for='validationTooltipUsername') Username
        = '\n'
        .input-group
          = '\n'
          span#validationTooltipUsernamePrepend.input-group-text @
          = '\n'
          input#validationTooltipUsername.form-control(type='text' aria-describedby='validationTooltipUsernamePrepend' required='')
          .invalid-tooltip Please choose a unique and valid username.
      .col-md-6.position-relative
        = '\n'
        label.form-label(for='validationTooltip03') City
        = '\n'
        input#validationTooltip03.form-control(type='text' required='')
        .invalid-tooltip Please provide a valid city.
      .col-md-3.position-relative
        = '\n'
        label.form-label(for='validationTooltip04') State
        = '\n'
        select#validationTooltip04.form-select(required='')
          option(selected='' disabled='' value='') Choose...
          option ...
        .invalid-tooltip Please select a valid state.
      .col-md-3.position-relative
        = '\n'
        label.form-label(for='validationTooltip05') Zip
        = '\n'
        input#validationTooltip05.form-control(type='text' required='')
        .invalid-tooltip Please provide a valid zip.
      .col-12
        = '\n'
        button.btn.btn-primary(type='submit') Submit form