extends ../../../layouts/LayoutTheme
include ../../../layouts/LayoutSimpleAuth

block wrapperContent
  +LayoutBasic({columnClass:'col-xxl-4'})
    .text-center.mb-6
      h4.text-800 Forgot your password?
      p.text-700.mb-5 Enter your email below and we will send you a reset link
      form.d-flex.align-items-center.mb-5&attributes(attributes)
        input#email.form-control.flex-1(type='email' placeholder='Email')
        button.btn.btn-primary.ms-2
          | Send
          span.fas.fa-chevron-right.ms-2
      a.fs--1.fw-bold(href="#!") Still having problems?