extends ../../../layouts/LayoutTheme
include ../../../layouts/LayoutSimpleAuth

block wrapperContent
  +LayoutBasic()
    .text-center.mb-6
      h4.text-800 Reset new password
      p.text-700 Type your new password
      form.mt-5
        input#password.form-control.mb-2(type='password' placeholder='Type new password')
        input#confirmPassword.form-control.mb-4(type='password' placeholder='Cofirm new password')
        button.btn.btn-primary.w-100(type='submit') Set Password