extends ../../../layouts/LayoutTheme
include ../../../layouts/LayoutSimpleAuth

block wrapperContent
  +LayoutBasic
    .text-center.mb-7
      h3 Sign Up
      p.text-700 Create your account today
    +SocialButtons({title:'Sign up'})
    .position-relative.mt-4
      hr.bg-200
      .divider-content-center or use email
    form
      .mb-3.text-start
        label.form-label(for='name') Name
        input#name.form-control(type='text' placeholder='Name')
      .mb-3.text-start
        label.form-label(for='email') Email address
        input#email.form-control(type='email' placeholder='name@example.com')
      .row.g-3.mb-3
        .col-md-6
          label.form-label(for='password') Password
          input.form-control.form-icon-input(type='password' placeholder='Password')
        .col-md-6
          label.form-label(for='confirm_password') Confirm Password
          input.form-control.form-icon-input(type='confirm_password' placeholder='Confirm Password')
      .form-check.mb-3
        input#termsService.form-check-input(type='checkbox')
        label.form-label(for='termsService')
          | I accept the 
          a(href='#!') terms 
          | and 
          a(href='#!') privacy policy

      button.btn.btn-primary.w-100.mb-3 Sign up
      .text-center
        a.fs--1.fw-bold(href=`${CWD}${paths['simple-signin']}`) Sign in to an existing account
