Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Module not found: Error: Can't resolve 'C:\ThemeWagon\phoenix\src\pug\modules\components\navs-and-Tabs.pug' in 'C:\ThemeWagon\phoenix'
  ModuleNotFoundError: Module not found: Error: Can't resolve 'C:\ThemeWagon\phoenix\src\pug\modules\components\navs-and-Tabs.pug' in 'C:\ThemeWagon\phoenix'
      at C:\ThemeWagon\phoenix\node_modules\webpack\lib\Compilation.js:2011:28
      at C:\ThemeWagon\phoenix\node_modules\webpack\lib\NormalModuleFactory.js:795:13
      at eval (eval at create (C:\ThemeWagon\phoenix\node_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:10:1)
      at C:\ThemeWagon\phoenix\node_modules\webpack\lib\NormalModuleFactory.js:275:22
      at eval (eval at create (C:\ThemeWagon\phoenix\node_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:9:1)
      at C:\ThemeWagon\phoenix\node_modules\webpack\lib\NormalModuleFactory.js:431:22
      at C:\ThemeWagon\phoenix\node_modules\webpack\lib\NormalModuleFactory.js:124:11
      at C:\ThemeWagon\phoenix\node_modules\webpack\lib\NormalModuleFactory.js:667:25
      at C:\ThemeWagon\phoenix\node_modules\webpack\lib\NormalModuleFactory.js:852:8
      at C:\ThemeWagon\phoenix\node_modules\webpack\lib\NormalModuleFactory.js:972:5
  
  - Compilation.js:2011 
    [phoenix]/[webpack]/lib/Compilation.js:2011:28
  
  - NormalModuleFactory.js:795 
    [phoenix]/[webpack]/lib/NormalModuleFactory.js:795:13
  
  
  - NormalModuleFactory.js:275 
    [phoenix]/[webpack]/lib/NormalModuleFactory.js:275:22
  
  
  - NormalModuleFactory.js:431 
    [phoenix]/[webpack]/lib/NormalModuleFactory.js:431:22
  
  - NormalModuleFactory.js:124 
    [phoenix]/[webpack]/lib/NormalModuleFactory.js:124:11
  
  - NormalModuleFactory.js:667 
    [phoenix]/[webpack]/lib/NormalModuleFactory.js:667:25
  
  - NormalModuleFactory.js:852 
    [phoenix]/[webpack]/lib/NormalModuleFactory.js:852:8
  
  - NormalModuleFactory.js:972 
    [phoenix]/[webpack]/lib/NormalModuleFactory.js:972:5
  
  - child-compiler.js:169 
    [phoenix]/[html-webpack-plugin]/lib/child-compiler.js:169:18
  
  - Compiler.js:559 
    [phoenix]/[webpack]/lib/Compiler.js:559:11
  
  - Compiler.js:1129 
    [phoenix]/[webpack]/lib/Compiler.js:1129:17
  
  
  - Hook.js:18 Hook.CALL_ASYNC_DELEGATE [as _callAsync]
    [phoenix]/[tapable]/lib/Hook.js:18:14
  
  - Compiler.js:1125 
    [phoenix]/[webpack]/lib/Compiler.js:1125:33
  
  - Compilation.js:2782 finalCallback
    [phoenix]/[webpack]/lib/Compilation.js:2782:11
  
  - Compilation.js:3087 
    [phoenix]/[webpack]/lib/Compilation.js:3087:11
  
  
  - Hook.js:18 Hook.CALL_ASYNC_DELEGATE [as _callAsync]
    [phoenix]/[tapable]/lib/Hook.js:18:14
  
</pre>