include ../mixins/authentication/SocialButtons

mixin LayoutBasic(config)
  - var config = Object.assign({columnClass: 'col-xl-5 col-xxl-3',logo:true}, config)
  .container
    .row.flex-center.min-vh-100.py-5&attributes(attributes)
      .col-sm-10.col-md-8.col-lg-5(class=config.columnClass)
        if config.logo
          a(href=`${CWD}${paths['default-dashboard']}`).d-flex.flex-center.text-decoration-none.mb-4
            +Logo({text:false,width:58}).fw-bolder.fs-5.d-inline-block
        block