extends Layout
include ../mixins/common/Logo
include ../mixins/common/Footer
include ../mixins/common/Card
include ../mixins/common/Rating
include ../mixins/layouts/LayoutContent
include ../mixins/navbars/NavbarVertical
include ../mixins/navbars/NavbarTop
include ../mixins/Variables


append variables
  - var attrsBody = {  };
  - var breakPoint = 'lg';
 


append headScripts

block prepend styles
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap', rel='stylesheet')
  link(href=`${CWD}assets/css/phoenix.min.css`, rel='stylesheet' id="style-default")
  link(href=`${CWD}assets/css/user.min.css`, rel='stylesheet' id="user-style-default")
  

block mainContent
  +LayoutContent
   
block afterMainContent
