/**************** chefs_part css start ****************/
.chefs_part {
    .single_blog_item {
        h3 {
            margin-bottom: 12px !important;
        }

        .social_icon {
            margin-top: 35px;
            @media #{$small_mobile}{
                margin-top: 15px
            }
            @media #{$large_mobile}{
                margin-top: 15px;            
            }
            @media #{$tab_device}{
            
            }
            @media #{$medium_device}{
            
            }
            a {
                border: 1px solid rgb(226, 229, 231);
                width: 37px;
                height: 37px;
                border-radius: 50%;
                font-size: 12px;
                display: inline-block;
                color: #949798;
                line-height: 37px;
                margin: 0px 8px;
                @media #{$small_mobile}{
                    margin: 0px 5px;
                }
                @media #{$large_mobile}{
                    margin: 0px 5px;            
                }
                @media #{$tab_device}{
                
                }
                @media #{$medium_device}{
                }
                &:hover {
                    background-color: $common_color;
                    color: $white_color !important;
                    border: 1px solid $common_color;
                }
            }

        }
    }
}

