mixin Courses(config)
  .col-md-4.mb-4
    .card.h-100
      img.card-img-top.w-100(src=`${CWD}assets/img/gallery/${config.image}` alt='courses')
      .card-body
        h5.font-sans-serif.fw-bold.fs-md-0.fs-lg-1!=config.title
        a.text-muted.fs--1.stretched-link.text-decoration-none(href='#!')!=config.text