mixin Navbar
  nav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3(data-navbar-on-scroll)
    .container
      a.navbar-brand(href='index.html')
        span.text-primary.fs-3.ms-2.fw-bolder en
        span.fw-thin.text-300.fs-3 surance
      button.navbar-toggler.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon

      #navbarSupportedContent.collapse.navbar-collapse.pt-4.pt-lg-0
        p.mb-0.ms-auto.text-light.fs-0.fw-normal
          i.fas.fa-phone-alt.me-2
          | Call Us Now 
          a(href='tel:+604-680-9785').text-light +215(362)4579
            
        ul.navbar-nav.ms-auto.border-bottom.border-lg-bottom-0.pt-2.pt-lg-0
          li.nav-item.px-2
            a.nav-link.active(aria-current='page', href='#' class= currentPage === 'index' ? 'active' : false ) Home
          li.nav-item.px-2
            a.nav-link(href='#products') Products
          li.nav-item.px-2
            a.nav-link(href='#news') News &amp; Blog
          li.nav-item.px-2
            a.nav-link(href='#contact') Contact us
          
        .d-flex.mt-2.align-items-center.mt-lg-0
          .dropdown
            button.btn.btn-sm.d-flex#dropdownMenuButton1.mx-2(type='submit' data-bs-toggle='dropdown' aria-expanded='false')
              i.fas.fa-search.text-primary
            .dropdown-menu.dropdown-menu-lg-end.p-0.rounded(aria-labelledby='dropdownMenuButton1' style="top:55px")
              form
                input.form-control.form-search-control.border-100(type='search' placeholder='Search' aria-label='Search')
          a(href='#!')     
            i.fas.fa-user.text-primary      