append variables 
  -
    var background={
      "className":"z-index--1 bottom-0",
      attrs:{
        style:' background: linear-gradient(to right, #43cea2, #185a9d);' 
      }
    }





mixin HeroHeader
  +Section(background).py-10
    .container.text-center
      h1.text-white.fs-lg-13.fs-md-10.fw-bold ThemeWagon
      h4.text-white HTML5 Template Collection 2022
      h5.text-white One Hundred Pre-build website
      a.text-white.btn.btn-primary.mt-2.mt-lg-5
        i.fas.fa-cloud-download-alt.me-3
        |Download Free
    //- img(src=`${CWD}assets/img/superhero/alternate.webp`).img-fluid.d-sm-none.d-lg-block



