mixin HeroHeader
  section.pt-0
    .container
      h1.pt-9.fs-14.fw-bold ThemeWagon
      h2 HTML5 Template Collection 2022
      h5.mt-3 One Hundred Pre-build website
      a.btn.btn-primary.mt-3.mt-md-5
        i.fas.fa-cloud-download-alt.me-3
        |Download Free



