
mixin Manager 
  +Section.pt-5#manager
    .row
      .col-lg-6.order-2.order-md-2.order-lg-1
        img.img-fluid(src=`${CWD}assets/img/manager/manager.png`, alt="")
      .col-lg-6.order-1.order-md-1.order-lg-2
        h5.text-secondary Easier decision making for
        p.fs-7.fw-bold.mb-2 Product Managers
        p.mb-4.fw-medium.text-secondary
          |The Myspace page defines the individual,his or her
          |characteristics, traits, personal choices and the overall
          br
          |personality of the person.

        .d-flex.align-items-center.mb-3     
          img(src=`${CWD}assets/img/manager/tick.png` width='35' alt="tick").me-sm-4.me-2
          p.fw-medium.mb-0.text-secondary Never worry about overpaying for your
            br
            |energy again.
        .d-flex.align-items-center.mb-3 
          img(src=`${CWD}assets/img/manager/tick.png` width='35' alt="tick").me-sm-4.me-2
          p.fw-medium.mb-0.text-secondary We will only switch you to energy companies
            br
            |that we trust and will treat you right
        .d-flex.align-items-center.mb-3
          img.mt-6.mt-lg-0(src=`${CWD}assets/img/manager/tick.png` width='35' alt="tick").me-sm-4.me-2
          p.fw-medium.mb-0.text-secondary  We track the markets daily and know where the
            br
            |savings are.




