mixin Marketer 
  +Section.pt-5#marketer
    .row
      .col-lg-6     
        h5.text-secondary Optimisation for
        p.mb-2.fs-8.fw-bold Marketers
        p.mb-4.fw-medium.text-secondary
          |Few would argue that, despite the advancements of
          br
          |feminism over the past three decades, women still face a
          br
          |double standard when it comes to their behavior.

        h4.fw-bold.fs-1 Accessory makers
        p.mb-4.fw-medium.text-secondary
          |While most people enjoy casino gambling, sports betting,
          br
          |lottery and bingo playing for the fun

        h4.fw-bold.fs-1 Alterationists
        p.mb-4.fw-medium.text-secondary
          |If you are looking for a new way to promote your business
          br
          |that won't cost you money,
        h4.fw-bold.fs-1 Custom Design designers
        p.mb-4.fw-medium.text-secondary
          |If you are looking for a new way to promote your business
          br
          |that won't cost you more money,
      .col-lg-6
        img.img-fluid.mt-6.mt-lg-0(src=`${CWD}assets/img/marketer/marketer.png` alt="")
