mixin Validation 
  +Section.pt-5#validation
    .row
      .col-lg-6 
        h5.text-secondary Effortless Validation for
        h2.mb-2.fs-7.fw-bold Design Professionals
        p.mb-4.fw-medium.text-secondary
          |The Myspace page defines the individual,his or her
          |characteristics, traits, personal choices and the overall
          br
          |personality of the person.

        h4.fs-1.fw-bold Accessory makers
        p.mb-4.fw-medium.text-secondary
          |While most people enjoy casino gambling, sports betting,
          br
          |lottery and bingo playing for the fun

        h4.fs-1.fw-bold Alterationists
        p.mb-4.fw-medium.text-secondary
          |If you are looking for a new way to promote your business
          br
          |that won't cost you money,


        h4.fs-1.fw-bold Custom Design designers
        p.mb-4.fw-medium.text-secondary
          |If you are looking for a new way to promote your business
          br
          |that won't cost you more money,



      .col-lg-6
        img.img-fluid.mt-6.mt-lg-0(src=`${CWD}assets/img/validation/validation.png` alt="")
