mixin Collection
  +Section.py-0#collection
    .row.h-100.gx-2 
      .col-md-6
        .card.card-span.h-100.text-white
          img.card-img(src=`${CWD}assets/img/gallery/urban.png` alt='...').h-100
          .card-img-overlay.bg-dark-gradient
            .p-5.p-md-2.p-xl-5
              h1.fs-md-4.fs-lg-7.text-light Urban Stories 
              h5.fs-2.text-light collection
          a.stretched-link(href='#!')
      .col-md-6
        .card.card-span.h-100.text-white
          img.card-img(src=`${CWD}assets/img/gallery/country.png` alt='...').h-100
          .card-img-overlay.bg-dark-gradient
            .p-5.p-md-2.p-xl-5.d-flex.flex-column.flex-end-center.align-items-baseline.h-100
              h1.fs-md-4.fs-lg-7.text-light Urban Stories 
              h5.fs-2.text-light collection
          a.stretched-link(href='#!')