mixin FooterList(...items)
  each item in items
    li.lh-lg
      a.text-800.text-decoration-none(href='#!')
        =item

mixin Footer
  +Section.py-0.pt-7
    .row
      .col-6.col-lg-2.mb-3
        h5.lh-lg.fw-bold.text-1000 Company Info
        ul.list-unstyled.mb-md-4.mb-lg-0
          +FooterList('About Us','Affiliate','Fashion Blogger')
         
      .col-6.col-lg-2.mb-3
        h5.lh-lg.fw-bold.text-1000 Help &amp; Support
        ul.list-unstyled.mb-md-4.mb-lg-0
          +FooterList('Shipping Info','Refunds','How to Order','How to Track','Size Guides')

      .col-6.col-lg-2.mb-3
        h5.lh-lg.fw-bold.text-1000 Customer Care
        ul.list-unstyled.mb-md-4.mb-lg-0
          +FooterList('Contact Us','Payment Methods','Bonus Point')

      .col-sm-6.col-lg-auto.ms-auto
        h5.lh-lg.fw-bold.text-1000 Signup For The Latest News
        .row.input-group-icon.mb-5
          .col-12
            input.form-control.input-box(type='email' placeholder='Enter Email' aria-label='email') 
            svg.bi.bi-arrow-right-short.input-box-icon(xmlns='http://www.w3.org/2000/svg' width='23' height='23' fill='#424242' viewBox='0 0 16 16')
              path(fill-rule='evenodd' d='M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z')     
        p.text-800
          svg.feather.feather-phone.me-3(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
            path(d='M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z')
          span.text-800 +3930219390
        p.text-800
          svg.feather.feather-mail.me-3(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
            path(d='M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z')
            polyline(points='22,6 12,13 2,6')
          span.text-800 something@gmail.com

    .border-bottom.border-3
    .row.flex-center.my-3
      .col-md-6.order-1.order-md-0
        p.my-2.text-1000.text-center.text-md-start  Made with&nbsp;
          svg.bi.bi-suit-heart-fill(xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='#EB6453' viewBox='0 0 16 16')
            path(d='M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z')

          |&nbsp;by&nbsp;
          a(href='https://themewagon.com/' target='_blank').text-800 ThemeWagon 
      .col-md-6
        .text-center.text-md-end
          a(href='#!')
            span.me-4(data-feather='facebook')
          a(href='#!')  
            span.me-4(data-feather='instagram')
          a(href='#!')  
            span.me-4(data-feather='youtube')
          a(href='#!')  
            span.me-4(data-feather='twitter')
     
