extends ../../layouts/LayoutTheme

block wrapperContent
  .px-3
    .row.min-vh-100.flex-center.px-5
      .col-12.col-xl-10.col-xxl-8
        .row.justify-content-center.g-5
          .col-12.col-lg-6.text-center.order-lg-1
            img.img-fluid(src=`${CWD}assets/img/spot-illustrations/500-illustration.png` alt="" width=540)
          .col-12.col-lg-6.text-center.text-lg-start
            img.img-fluid.mb-3.w-lg-75(src=`${CWD}assets/img/spot-illustrations/500.png` alt="")
            h2.text-800.fw-bolder.mb-3 Unknow error!
            p.text-900 But relax! Our cat is here to play you some music.
            a.btn.btn-lg.btn-primary(href=`${CWD}${paths['default-dashboard']}`) Go Home