append variables
  -
    var category= [
      {
        image:'design.png',
        title :'User Research for User Experience Design',
        text: 'The Museum of Modern Art',
      },
      {
        image:'psychology.png',
        title :'Buddhism and Modern Psychology',
        text: 'The Museum of Modern Art',
      },
      {
        image:'philosophy.png',
        title :'Introduction to Philosophy',
        text: 'Duke University',
      },
      {
        image:'photographs.png',
        title :'Advance on Seeing Through Photographs',
        text: 'Duke University',
      },
      {
        image:'arguments.png',
        title :'Think Again I: How to Understand Arguments',
        text: 'The Museum of Modern Art',
      },
      {
        image:'experience-design.png',
        title :'User Research for User Experience Design',
        text: 'The Museum of Modern Art',
      },
      {
        image:'user-design.png',
        title :'User Research for User Experience Design',
        text: 'The Museum of Modern Art',
      },
      {
        image:'critical-thinking.png',
        title :'Introduction to Logic and Critical Thinking',
        text: 'Duke University',
      },
      {
        image:'art-design.png',
        title :'Modern and Contemporary Art and Design',
        text: 'The Museum of Modern Art',
      },
      {
        image:'user-research.png',
        title :'Modern and Contemporary Art and Design',
        text: 'The Museum of Modern Art',
      },
      {
        image:'photographs.png',
        title :'Advance on Seeing Through Photographs',
        text: 'Duke University',
      },
      {
        image:'ux.png',
        title :'Modern and Contemporary Art and Design',
        text: 'The Museum of Modern Art',
      },
      {
        image:'design.png',
        title :'User Research for User Experience Design',
        text: 'The Museum of Modern Art',
      },
      {
        image:'critical-thinking.png',
        title :'Introduction to Logic and Critical Thinking',
        text: 'Duke University',
      },
      {
        image:'art-design-1.png',
        title :'Modern and Contemporary Art and Design',
        text: 'The Museum of Modern Art',
      },
    ];


mixin CourseCategory
  +Section.pb-0(style="margin-top:-17rem") 
    .row
      +Courses(category[0])
      +Courses(category[1])
      +Courses(category[2])
      +Courses(category[3])
      +Courses(category[4])
      +Courses(category[5])
      +Courses(category[6])
      +Courses(category[7])
      +Courses(category[8])
      +Courses(category[9])
      +Courses(category[10])
      +Courses(category[11])
      +Courses(category[12])
      +Courses(category[13])
      +Courses(category[14])
