mixin Footer
  footer.footer
    .row.g-0.justify-content-between.align-items-center.h-100.mb-3
      .col-12.col-sm-auto.text-center
        p.mb-0.text-900 Thank you for creating with #{name}
          span.d-none.d-sm-inline-block
          span.mx-1 |
          br.d-sm-none 
          | #{ new Date().getFullYear() } &copy; 
          a(href="https://themewagon.com") Themewagon
      .col-12.col-sm-auto.text-center
        p.mb-0.text-600=version
