extends Layout
include ../mixins/navbars/NavbarShowcase
include ../mixins/Variables
include ../mixins/sectionTitle/SectionTitle

prepend scripts
  script(src=`https://polyfill.io/v3/polyfill.min.js?features=window.scroll`)
  script(src=`${CWD}vendors/fontawesome/all.min.js`)
  script(src=`${CWD}vendors/isotope-layout/isotope.pkgd.min.js`)
  script(src=`${CWD}vendors/imagesloaded/imagesloaded.pkgd.js`)
  script(src=`${CWD}vendors/isotope-packery/packery-mode.pkgd.min.js`)


append footerStyles
  link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Volkhov:wght@700&display=swap" rel="stylesheet")

block mainContent 
  //- +NavbarProductly
  block wrapperContent 
    block beforeContent
    block content
    block afterContent

