mixin UserHeader
  +Section.pb-11.pt-7.bg-600
    .row 
      .col-12 
        h6.font-sans-serif.text-primary.fw-bold Course detail
        h1.mb-6 User Research for User
          br
          | Experience Design