mixin WebVsUxDesigner 
  +Section(style="margin-top:-21.5rem")
    .row
      .col-md-8
        img.w-100(src=`${CWD}assets/img/gallery/ux-designer.png` alt='...') 
        h1.my-4 Description
        p The online Master of Computer and Information Technology degree (MCIT Online) is an online masters degree in Computer Science tailored for non-Computer Science majors. Offered by the University of Pennsylvania, this new program brings the long-running, established on-campus MCIT degree online. The MCIT Online program empowers students without computer science backgrounds to succeed in computing and technology fields. MCIT Online students come from diverse academic backgrounds ranging from business and history to chemistry and medicine.
        p Computer science might not be in your past, but it will be in your future. Technology has an immense impact on our lives, and is creating fields and positions that didn’t exist five years ago. Equipped with a competitive computer science degree, MCIT Online graduates will be uniquely positioned to fill roles in finance, healthcare, education, and government, as well as in the core software development industry. Exposure to real-world projects throughout the program will prepare students to utilize skills that positively impact society.
        h1 What You’ll Learn?
        ul.list-unstyled
          li.mb-3 
            i.fas.fa-check.text-info.me-2
            strong Ivy League Quality
            |&nbsp;A first-of-its-kind program that offers an Ivy League master’s degree in Computer Science designed for non-CS majors.
          li.mb-3 
            i.fas.fa-check.text-info.me-2
            strong Built Around Your Schedule The coursework
            |&nbsp;is 100 percent online. You’ll benefit from the same high-quality instruction as on-campus students and graduate with the same degree. The diploma does not indicate whether the degree was earned online or on-campus.
          li.mb-3 
            i.fas.fa-check.text-info.me-2
            strong Accessible Pricing The cost of the MCIT Online degree
            |&nbsp; is significantly less than on-campus alternatives and most online master’s degrees in Computer Science. Students pay $2,640 per course unit for a total of 10 courses units. Tuition and fees are posted as a guide and may be subject to change.
          li.mb-3 
            i.fas.fa-check.text-info.me-2
            strong Try before you apply Penn Engineering
            |&nbsp; offers an online Specialization, Introduction to Programming with Python and Java, on Coursera to help you decide whether the MCIT Online program is the right fit before you apply.   
      
      .col-md-4 
        .card
          ul.list-group.list-group-flush
            li.list-group-item
              strong Enrolled 
              | : 1200 students
            li.list-group-item
              strong Duration 
              | : 2 hours
            li.list-group-item
              strong Lectures 
              | : 8
            li.list-group-item
              strong Categories 
              | : Technology
            li.list-group-item
              strong Level 
              | : Intermediate Level
            li.list-group-item.text-center
              img(src=`${CWD}assets/img/gallery/searching.png` width="78" alt='...') 
              p.text-muted.mb-0.mt-4 Contact a customer support at
              a(href='mailto:vctung@outlook.com').text-info vctung@outlook.com

              
              
