mixin FeatureCard({img,title,details})
    .card.py-md-6.px-md-4.mt-3.h-100.box-shadow-all.border-0
        .card-body
            img(src=img, alt="")
            h3.py-3 #{title}
            p.lead.mb-0 #{details}

