mixin SliderCard({title,details})
    .card.py-3.px-4.mt-3.h-100.box-shadow-all.border-0
        .card-body
            h5.font-base.lh-base !{title}
            p.mb-0 !{details}
        .card-footer.d-flex.flex-between-center.border-0.bg-transparent.pt-0
            span.badge.rounded-pill.bg-success.p-2.fs-0 5 AUT
            p.mb-0.fw-bold.text-1000 Apply by May 15
