mixin NavbarShowcase
  nav.navbar.navbar-expand-lg.navbar-light.sticky-top.pt-4(data-navbar-on-scroll)
    .container-fluid
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon 
      #navbarSupportedContent.collapse.navbar-collapse.border-top.border-lg-0.mt-4.mt-lg-0
        ul.navbar-nav.mx-auto
          li.nav-item
            a.nav-link(href="#" data-filter="*") All
          li.nav-item
            a.nav-link(href="#" data-filter=".admin") Admin & Dashboard
          li.nav-item
            a.nav-link(href="#" data-filter=".business") Business & Corporate
          li.nav-item
            a.nav-link(href="#" data-filter=".landing") Landing Pages
          li.nav-item
            a.nav-link(href="#" data-filter=".ecommerce") E-commerce
          li.nav-item
            a.nav-link(href="#" data-filter=".food") Food & Restaurant
          li.nav-item
          //-   a.nav-link Medical & Health Care
          //- li.nav-item
          //-   a.nav-link Travel & Booking
          //- li.nav-item
          //-   a.nav-link Multipurpose
          //- li.nav-item
          //-   a.nav-link Personal
          //- li.nav-item
          //-   a.nav-link Portfolio
          //- li.nav-item
          //-   a.nav-link Landing Pages
          //- li.nav-item
          //-   a.nav-link All Categories
          //- li.nav-item
          //-   a.nav-link Admin & Dashboard
          //- li.nav-item
          //-   a.nav-link Business & Corporate
          //- li.nav-item
          //-   a.nav-link Landing Pages




