mixin List(...items)
  each item in items
    .d-flex
      svg.bi.bi-check-circle-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#2FAB73' viewBox='0 0 16 16')
        path(d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z')
      p.ms-2=item

mixin Features
  +Section.pt-4.pt-md-6
    .row.align-items-center
      .col-md-5.col-lg-7.text-lg-center
        img.img-fluid.mb-5.mb-md-0(src=`${CWD}assets/img/illustrations/2.png` alt='')  
      .col-md-7.col-lg-5.text-center.text-md-start
        h2 We Provide Many 
          br
          | Features You Can Use
        p  You can explore the features that we provide with fun and have their own functions each feature.
       
        +List('Powerfull online protection.','Internet without borders.','Supercharged VPN.','Internet without borders.')