mixin HeroSection
  +Section.pb-6
    .row.flex-center
      .col-lg-6.col-md-5.order-md-1
        img.img-fluid(src=`${CWD}assets/img/illustrations/1.png`  alt='')  
      .col-md-7.col-lg-6.mt-5.text-center.text-md-start
        h1.fw-medium Want anything to be
          br
          |easy with 
          span.fw-bold LaslesVPN.
        p.mt-3.mb-4 Provide a network for all your needs with ease and fun using 
          span.fw-medium LaslesVPN 
          |discover interesting features from us.Most people make the mistake of forcing themselves to network.Or they pretend to be outgoing to make new connections. 
        a.btn.btn-lg.btn-danger.hover-top.btn-glow(href='#')
          | Get Started 
  