mixin Subscribe
  +Section.py-5.z-index-1(style="margin-bottom: -10rem")
    .card.py-5.px-5.border-0.shadow-sm
      .card-body
        .row.flex-center
          .col-12.col-lg-6.text-lg-start
            h2 Subscribe Now for 
              br
              |Get Special Features!
            p.mb-lg-0 Let's subscribe with us and find the fun.

          .col-12.col-lg-6.text-lg-end
            a.btn.btn-lg.btn-danger.hover-top.btn-glow.text-end(href='#')
              | Subscribe Now
