.grid-sizer,
.grid-item { 
  width: 30%;
}


.header{
  &.shape{
    background: linear-gradient(150deg, #7795f8 15%, #6772e5 70%, #555abf 94%);
    overflow: hidden;

  }
  &.skew{
    transform: skewY(-7deg);
    transform-origin: 0;

  }
  &.h-100{
    height: 100%!important;


  }
  
  &.w-100{
    width: 100%!important;


  }
  &.position-absolute {
    position: absolute!important;
}
}
