append variables 
  - 
    var services= [
      {
        image: 'icon1.png',
        title: 'Calculated Weather',
        text: 'Built Wicket longer admire do barton vanity itself do in it.'
      },
      {
        image: 'icon2.png',
        title: 'Best Flights',
        text: 'Engrossed listening. Park gate sell they west hard for the.'
      },
      {
        image: 'icon3.png',
        title: 'Local Events',
        text: 'Barton vanity itself do in it. Preferd to men it engrossed listening.'
      },
      {
        image: 'icon4.png',
        title: 'Customization',
        text: 'We deliver outsourced aviation services for military customers'
      }
    ]

mixin Service 
  +Section.pt-5.pt-md-9#service
    .position-absolute.z-index--1.end-0.d-none.d-lg-block
      img(src=`${CWD}assets/img/category/shape.svg`, style="max-width: 200px" alt="service")
    .mb-7.text-center  
      +SectionTitle('CATEGORY', 'We Offer Best Services')
    .row 
      each val in services
        +ServiceCard(val)