mixin About
  +Section.py-4
    .row
      .col-12
        .card.mb-3.bg-soft-danger.rounded-3
          .row.g-0.align-items-center
            .col-md-5.col-lg-6.text-md-center
              img.img-fluid(src=`${CWD}assets/img/illustrations/about.png`  alt='')  
            .col-md-7.col-lg-6.px-md-2.px-xl-6.text-center.text-md-start
              .card-body.px-4.py-5.p-lg-3.p-md-4
                h1.mb-4.fw-bold We are a high-level data
                  br.d-md-none.d-xxl-block
                  | storage bank
                p.card-text
                  | The place to store various data that you can access at any
                  br.d-none.d-xxl-block
                  | time through the internet  and where you can carry it. 
                  br.d-none.d-xxl-block
                  |This very flexible storage area has a high level of security.
                  br.d-none.d-xxl-block
                  | To enter into your own data you must enter the password
                  br.d-none.d-xxl-block 
                  |that you created when you registered in this Data 
                  br.d-none.d-xxl-block
                  |Warehouse. 
                