extends Layout
include ../mixins/navbars/NavbarFoodwagon
include ../mixins/Variables

prepend scripts
  script(src=`https://polyfill.io/v3/polyfill.min.js?features=window.scroll`)
  script(src=`${CWD}vendors/fontawesome/all.min.js`)
 
 
append footerStyles
  link(href='https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap' rel='stylesheet')

block mainContent 
  +NavbarFoodwagon
  block wrapperContent 
    block beforeContent
    block content
    block afterContent

