extends ../layouts/LayoutComponent

append variables
  -
    var pageHeader = {
      title: 'Webpack',
    }

block component
  +ComponentCard({title: 'Introduction',hideNavTab: true}).my-4
    p.mb-0 #{title} uses 
      code Webpack 
      | to compile and build pug, scss and script files. Webpack is a module bundler. Its main purpose is to bundle JavaScript files for usage in a browser, yet it is also capable of transforming, bundling, or packaging just about any resource or asset. To learn more about   
      code  Webpack  
      | visit their 
      a(href='https://webpack.js.org/concepts/' target='_blank') official documentation.

  +ComponentCard({title: 'Commands', hideNavTab: true}).my-4
    .table-responsive
        table.table.table-bordered
          thead.bg-300.text-center.font-sans-serif
            tr
              th.text-nowrap Command
              th Action
          tbody
            tr
              td.text-nowrap
                code npm run start
              td Will create a development server at 
                code localhost:3000

            tr
              td.text-nowrap
                code npm run build
              td Will build all asset files from 
                code ./src 
                | directory to public directory

            tr
              td.text-nowrap
                code npm run build:production
              td Will build all asset files from 
                code ./src 
                | directory to
                code ./build 
                | directory in a compressed version to deploy in server.

            tr
              td.text-nowrap
                code npm run compile:scripts
              td Will build script files from 
                code ./src/scripts 
                | directory to 
                code ./public/assets/js 
                | directory.

            tr
              td.text-nowrap
                code npm run compile:scss
              td Will build scss files from 
                code ./src/scss 
                | directory to 
                code ./public/assets/css 
                | directory.

            tr
              td.text-nowrap
                code npm run compile:pug
              td Will build pug files from 
                code ./src/pug 
                | directory to 
                code ./public
                | directory.

  +ComponentCard({title: 'Making a new page',hideNavTab: true}).my-4
    p.mb-0 To make a new page in #{title} you have to do the following things:
    ol
      li First include 
        code assets/css/phoenix.min.css, assets/css/user.min.css 
        | and  
        code assets/js/phoenix.min.js 
        | files in your html file.
      li Many basic elements are available as a bundle with CSS & JS, along with some advanced elements. This will provide you  the advantage upon CSS or JS.
      li Charts, maps, or any custom js or css are necessary to include in your html.