mixin EyeCare
  section.bg-secondary
    +Background({image: `${CWD}assets/img/gallery/bg-eye-care.png`, attrs: { style: { 'background-position': 'center', 'background-size': 'contain',} }, className: '' })
    .container
      .row.align-items-center
        .col-md-5.col-xxl-6
          img.img-fluid(src=`${CWD}assets/img/gallery/eye-care.png`   alt='...')
        .col-md-7.col-xxl-6.text-center.text-md-start
          h2.fw-bold.text-light.mb-4.mt-4.mt-lg-0 Eye Care with Top Professionals
            br.d-none.d-sm-block
            | and In Budget.
          p.text-light We've built a healthcare system that puts your needs first.
            br.d-none.d-sm-block 
            |For us, there is nothing more important than the health of 
            br.d-none.d-sm-block
            |you and your loved ones.  
          .py-3
            a.btn.btn-lg.btn-light.rounded-pill(href="#!" role="button") Learn more 
          