extends layouts/LayoutTheme
include mixins/common/Cta
include mixins/common/Footer
include mixins/common/StudentFeedback
include mixins/common/Courses
include mixins/home/landing/HeroHeader
include mixins/home/landing/FunFacts
include mixins/home/landing/FeaturedCourses
include mixins/home/landing/FunFactsTwo




prepend scripts
  
append content
  +HeroHeader
  +Funfacts
  +FeaturedCourses
  +StudentFeedback
  +FunFactsTwo
  +Cta
  +PreFooter
